<?php
/** @var $this Elovaris_Configbox_Block_Renderer */
// This got to be called on any configurator page block
$this->prepare();
?>

<div class="block block-list block-navigation">
	<div class="block-content">
		<?php
		KenedoView::getView('ConfigboxViewBlocknavigation')->display();
		?>
	</div>
</div>
