<?php
/** @var $this Elovaris_Configbox_Block_Renderer */
// This got to be called on any configurator page block
$this->prepare();
?>

<div class="block block-list block-overview">
	<div class="block-title">
		<strong><span><?php echo $this->__("Your configuration") ?></span></strong>
	</div>
	<div class="block-content">
		<?php KenedoView::getView('ConfigboxViewBlockpricing')->display(); ?>
	</div>
</div>
