<?php
/** @var $this Elovaris_Configbox_Block_Renderer */
// This got to be called on any configurator page block
$this->prepare();
?>
<div class="block block-list block-visualization">
	<div class="block-content">
		<?php KenedoView::getView('ConfigboxViewBlockvisualization')->display(); ?>
	</div>
</div>
