@CHARSET "UTF-8";

/* GENERAL TEMPLATE STYLE - START */

#com_configbox {
	font-size:1em;
}

#com_configbox .element {
	margin:10px 0px;
	color:inherit;
	background:none;
	border:none;
	border-radius: 0;
}

#com_configbox .element .heading {
	padding:0px;
	background:none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position:relative;
}

#com_configbox .element .elementtitle {
	margin: 0.7em 0px;
}

#com_configbox .element .elementdesc {
	margin: 0.7em 0px;
}

#com_configbox .element .inputfield {
	padding:0px;
	position:relative;
}

#com_configbox .element .inputfield .element_image {
	float:right;
}

#com_configbox .element .inputfield ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

#com_configbox .element .inputfield li {
	margin:5px 0px;
	padding:0px;
	background:none;
}

#com_configbox .element .inputfield .xref.image-picker {
	display:inline-block;
}

#com_configbox .element .configbox-widget-text {
	width:100px;
}

#com_configbox .element .configbox-label {
	margin-left:5px;
}

#com_configbox .element .configbox-label-text {
	margin-right:5px;
}

#com_configbox .element .configbox-label-select {
	margin-left:0px;
}


/* Styling for the validation message - This element is should initially be hidden */
#com_configbox .element .display_validation {
	display:none;
	padding-left:5px;
	padding-right:5px;
}

#com_configbox .element .position-loading-symbol {
	display:none;
}

#com_configbox .element .configbox-widget-wrapper {
	display: inline;
}

/* Styling for the loading symbol - This element is initially hidden */
#com_configbox .element .position-loading-symbol .wheel:before {
	font-family:FontAwesome;
	content: "\f110";
	
	-webkit-animation: fa-spin 1s infinite linear;
	-moz-animation: fa-spin 2s infinite linear;
	-o-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
	
	-webkit-font-smoothing: antialiased;
	/*noinspection CssUnknownProperty*/
	-moz-osx-font-smoothing: grayscale;

	display:inline-block;
}

/* Styling for non-applying elements */
#com_configbox .element.element-not-applying {
	background:none;
	color:#ccc;
}

#com_configbox .element-not-applying.hide-not-applying,
#com_configbox .xref-not-applying.hide-not-applying {
	display:none;	
}

/* Styling for non-applying option assignments */
#com_configbox .element .xref-not-applying,
#com_configbox .element .xref-not-applying a,
#com_configbox .element .xref-not-applying label span {
	color:#ccc!important;
}

/* Removing select template label */
#com_configbox .element.template-select .configbox-label-select {
	display:none;
}

/* Move the tooltip symbol */
#com_configbox .element.template-select .editlinktip img {
	position: relative;
	top: 4px;
}

/* GENERAL TEMPLATE STYLE - END */



/* TEMPLATE IMAGE - START */

#com_configbox .element.template-image .option {
	float:left;
	position:relative;
	margin-right:2px!important;
}

#com_configbox .element.template-image .option .ajaxloaderplaceholder {
	position:absolute;
	right:0px;
	top:0px;
}

#com_configbox .element.template-image .imageoption-image {
	cursor:pointer;
	padding-top:5px;
}

/* TEMPLATE IMAGE - END */