body .std ul {
	list-style:none;
}

.std .products-grid {
	list-style:none;
}

.std .products-grid > li {
	margin-left:0;
}

.cms-index-index .products-grid .ratings, .cms-index-index .products-grid .actions, .cms-index-noroute .products-grid .ratings, .cms-index-noroute .products-grid .actions {
	display:block!important;
}