@CHARSET "UTF-8";

/* GENERAL TEMPLATE STYLE - START */

#com_configbox .element {
	margin:10px 0px;
	color:#333;
	background:#f9f9f9;
	border:1px solid #ccc;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 1px 0 #fff;
	clear:both;
}

#com_configbox .element .heading {
	padding:1px 10px 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-color:#fff;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	position:relative;
	background-image: url('../../../images/eee-noise.jpg');
	box-shadow: rgba(0, 0, 0, 0.15) 0 1px 1px;
	border-bottom: 1px solid #fefeee;
}

#com_configbox .element .element-description-tooltip {
	position:absolute;
	top:10px;
	right:10px;
}

#com_configbox .element .element-description-tooltip .kenedo-popup-trigger-content {
	display:block;
}

#com_configbox .element .element-description-tooltip .kenedo-popup-trigger-content .fa:hover,
#com_configbox .element .element-description-tooltip .kenedo-popup-trigger-content .icon:hover {
	text-decoration:none;
}

#com_configbox .element .element-description-tooltip .kenedo-popup-trigger-content .fa:before,
#com_configbox .element .element-description-tooltip .kenedo-popup-trigger-content .icon:before {
	visibility:visible;
	font-size:18px;
	font-family:FontAwesome;
	content: "\f05a"; 
}

/*

If you want to revert the CSS changes done at version 2.6, put this in your style overrides file

#com_configbox .element .heading {
	background-image: none;
	box-shadow: none;
	border: none;
	background:#eee;
}

#com_configbox .element {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#com_configbox .element .element-title {
	text-shadow: none;
}

*/

#com_configbox .element .element-title {
	margin: 0.7em 0px;
	text-shadow: white 0 1px 0;
	color:#555;
	font-size:150%;
}

#com_configbox .element.element-not-applying .element-title {
	color:inherit;
}

#com_configbox .element .element-description {
	margin: 0.7em 0px;
}

#com_configbox .element .inputfield {
	padding: 15px 10px;
	position:relative;
}

#com_configbox .element .element-image {
	float:right;
}

#com_configbox .element .choice-list,
#com_configbox .element .xref-list {
	margin:-5px 0px -5px;
	padding:0px;
	list-style:none;
}

#com_configbox .element .choice-item,
#com_configbox .element .xref {
	margin:5px 0px;
	padding:0px;
	background:none;
}

#com_configbox .element.type-checkbox .xref {
	margin:0px;
}

.configbox-widget-wrapper {
	display:inline;	
}

#com_configbox .element .xref {
	position:relative;
}

#com_configbox .element .configbox-choice-free-field,
#com_configbox .element .configbox-label {
	margin-left:5px;
	margin-bottom:0px;
}

#com_configbox .element .configbox-label-text {
	margin-right:5px;
}

#com_configbox .element .configbox-label-select {
	margin-left:0px;
}

#com_configbox .element.widget-text textarea {
	vertical-align:top;
}

#com_configbox .element.template-select .configbox-label-select {
	display:none;
}

#com_configbox .element.template-select .editlinktip img {
	position: relative;
	top: 4px;
}

#com_configbox .xref-description {
	display:inline-block;
}

#com_configbox .xref-reviews {
	display:inline-block;
}

#com_configbox .xref-was-price,
#com_configbox .xref-was-price-recurring {
	text-decoration:line-through;
}

#com_configbox .xref-description .kenedo-popup-trigger-content:before {
	font-family:FontAwesome;
	content: "\f05a";
	padding-right:3px;
	font-size:1.2em;
	color:#666;
	margin-left:5px;
}

#com_configbox .xref-reviews .kenedo-popup-trigger-content:before {
	font-family:FontAwesome;
	content: "\f086";
	padding-right:3px;
	font-size:1.2em;
	color:#666;
	margin-left:5px;
}

/* Styling when using image pickers - START */

#com_configbox .element .image-picker {
	float:left;
	margin-right:5px;
	cursor:pointer;
}

#com_configbox .element .image-picker .configbox-control-radiobutton,
#com_configbox .element .image-picker .configbox-control-checkbox {
	display:none;
}

#com_configbox .element .image-picker .configbox-image-button-wrapper {
	border:1px solid #ccc;
	display:inline-block;
}

#com_configbox .element .image-picker.selected .configbox-image-button-wrapper {
	border-color:#000;
	background:#ccc;
}

#com_configbox .element .image-picker .configbox-image-button-image {
	display:block;
}

#com_configbox .element .image-picker .configbox-label-radiobutton {
	display:block;
}

#com_configbox .element .image-picker .option-price-wrapper,
#com_configbox .element .image-picker .option-price-recurring-wrapper {
	display:block;
}

#com_configbox .element .image-picker .position-loading-symbol {
	position:absolute;
	right:0px;
	bottom:0px;
}

/* Styling when using image pickers - END */

/* Styling for dropdown elements - START */

/*noinspection CssOverwrittenProperties,W3CssValidation*/
#com_configbox .element .configbox-dropdown-trigger {
	border:1px solid #ababab;
	padding:1px 2px;
	padding-left:5px;
	padding-right:20px;
	border-radius:4px;
	display:inline-block;

	background-image: url('../images/dropdown-arrow.png');
	background-position:right center;
	background-repeat:no-repeat;
	
	background: url('../images/dropdown-arrow.png') no-repeat right center, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: url('../images/dropdown-arrow.png') no-repeat right center, -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(255,255,255) 50%, rgb(242,242,242) 53%, rgb(242,242,242) 100%);
	background: url('../images/dropdown-arrow.png') no-repeat right center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(50%,rgb(255,255,255)), color-stop(53%,rgb(242,242,242)), color-stop(100%,rgb(242,242,242)));
	background: url('../images/dropdown-arrow.png') no-repeat right center, -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(255,255,255) 50%,rgb(242,242,242) 53%,rgb(242,242,242) 100%);
	background: url('../images/dropdown-arrow.png') no-repeat right center, -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(255,255,255) 50%,rgb(242,242,242) 53%,rgb(242,242,242) 100%);
	background: url('../images/dropdown-arrow.png') no-repeat right center, -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(255,255,255) 50%,rgb(242,242,242) 53%,rgb(242,242,242) 100%);
	background: url('../images/dropdown-arrow.png') no-repeat right center, linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(255,255,255) 50%,rgb(242,242,242) 53%,rgb(242,242,242) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
	
}

#com_configbox .element.type-dropdown .xref-list {
	display:none;
	border:1px solid #abb3bc;
	border-radius:4px;
	padding:0px 6px;
	padding-right:30px;
	position:absolute;
	z-index:30000;
	background:#fff;
	top:0px;
	max-height:300px;
	margin:0px;
}

/* Styling for dropdown elements - END */

/* Styling for date elements - START */

#com_configbox .configbox-widget-calendar-button {
	background:url('../images/icon-datepicker.png') no-repeat;
	width:30px;
	height:32px;
	overflow:hidden;
	display:block;
	text-indent:-1000px;
	float:left;
	margin-left:5px;
	margin-right:10px;
}

#com_configbox .configbox-widget-calendar-button:hover {
	background-position:bottom left;
}

#com_configbox .configbox-widget-calendar-display {
	font-size:16px;
	line-height:32px;
	height:32px;
	cursor:pointer;
	min-width:250px;
}

/* Styling for date elements - END */

#com_configbox .element .configbox-choice-free-field {
	width:60px;
}

#com_configbox .element.widget-choices .element-price-display {
	position:absolute;
	top:10px;
	right:10px;
}

#com_configbox .element.widget-choices .position-loading-symbol {
	position:absolute;
	top:50px;
	right:10px;
	display:none!important;
}

#com_configbox .element.widget-choices .validation-feedback {
	position:absolute;
	top:30px;
	right:10px;
}

#com_configbox .element.type-dropdown .position-loading-symbol {
	position:absolute;
	right:-20px;
	bottom:0px;
}

#com_configbox .widget-slider .position-loading-symbol {
	position:absolute;
	top:10px;
	right:10px;
}

/* Styling for the validation message - This element is should initially be hidden */
#com_configbox .element .display_validation {
	display:none;
	padding-left:5px;
	padding-right:5px;
}

#com_configbox .element .position-loading-symbol {
	display:none;
}

#com_configbox .element .position-loading-symbol .wheel:before {
	font-family:FontAwesome;
	content: "\f110";
	
	-webkit-animation: fa-spin 1s infinite linear;
	-moz-animation: fa-spin 2s infinite linear;
	-o-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
	
	-webkit-font-smoothing: antialiased;
	/*noinspection CssUnknownProperty*/
	-moz-osx-font-smoothing: grayscale;
	
	display:inline-block;
	line-height:1em;
}

/* Styling for non-applying elements */
#com_configbox .element.element-not-applying {
	color:#ccc;
}

#com_configbox .element-not-applying.hide-not-applying,
#com_configbox .xref-not-applying.hide-not-applying {
	display:none;	
}


/* Styling for non-applying option assignments */
#com_configbox .element .xref-not-applying,
#com_configbox .element .xref-not-applying a,
#com_configbox .element .xref-not-applying label span {
	color:#ccc!important;
}

/* Styling for non-available option assignments */
#com_configbox .element .not-available,
#com_configbox .element .not-available a,
#com_configbox .element .not-available label span {
	color:#ccc!important;
}

#com_configbox .element .availibility-green {
	display:none;
}

/* GENERAL TEMPLATE STYLE - END */


/* COMPLEMENTARY CSS CLASS STYLES */



/* COLUMN ELEMENTS - START */

#com_configbox .element.left-half {
	float:left;
	width:49%;
	clear:left;
	margin-top:0px;
}

#com_configbox .element.right-half {
	float:right;
	width:49%;
	clear:right;
	margin-top:0px;
}

/* COLUMN ELEMENTS - END */



/* JOINED ELEMENTS - START */

#com_configbox .element.joined-element-start {
	border-bottom:none;
	margin-bottom:0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	
}

#com_configbox .element.joined-element-start .heading {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	}

#com_configbox .element.joined-element {
	border-top:none;
	margin-top:0px;
	border-bottom:none;
	margin-bottom:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#com_configbox .element.joined-element-end {
	border-top:none;
	margin-top:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}

#com_configbox .element.joined-element .heading,
#com_configbox .element.joined-element-end .heading {
	display:none;
}

#com_configbox .element.joined-element-start .inputfield {
	padding-bottom:0px;
}

#com_configbox .element.joined-element .inputfield {
	padding-top:2px;
	padding-bottom:2px;
}

#com_configbox .element.joined-element-end .inputfield {
	padding-top:0px;
}

/* COLUMN JOIN ELEMENTS - END */


/* NO HEADING STYLE - START */

#com_configbox .element.no-heading .heading {
	display:none;
}

#com_configbox .element.no-heading.type-checkbox .quick-edit-buttons-element,
#com_configbox .element.no-heading.type-radio .quick-edit-buttons-element {
	top:-15px;
}

/* NO HEADING STYLE - END */

#com_configbox .element.hidden-element {
	display:none!important;
}