@CHARSET "UTF-8";

html, body {
	margin:0;
	padding:0;
}

body {
	margin-top:110pt;
	margin-bottom:100pt;
	margin-left:1.5cm;
	margin-right:1.5cm;

	font-family: Helvetica;
	font-size:9pt;
}

#view-invoice table {
	border-collapse: collapse;
}

#view-invoice th {
	text-align:left;
}

#view-invoice .layout-table {
	width:100%;
}

#view-invoice .layout-table td {
	border:none;
	padding:0;
}

#view-invoice .layout-table td.left-column,
#view-invoice .layout-table td.right-column {
	padding:0px;
	vertical-align: top;
}

#view-invoice .order-data {
	float:right;
}

#view-invoice .customer-information {
	margin-top:80pt;
	margin-bottom:25pt;
}

#view-invoice .customer-information .left-column .wrapper {
	height:70pt;
}

#view-invoice .customer-information .right-column .key {
	font-weight:bold;
	padding-right:4pt;
}

#view-invoice .customer-information .right-column .value {
	text-align:right;
}

#view-invoice .order-base-data .order-id {
	margin-top:1em;
}

#view-invoice .wrapper-order-overview {
	margin-top:18pt;
	margin-bottom:18pt;
}

#view-invoice .wrapper-order-overview h2 {
	margin-bottom:8pt;
}

#view-invoice .order-overview table {
	width:100%;
}

#view-invoice .order-overview th {
	padding:3pt 5pt;
	border:1px solid #ddd;
	font-weight:bold;
	background-color:#efefef;
}

#view-invoice .order-overview td {
	padding:3pt 5pt;
	border:1px solid #ddd;
	vertical-align: bottom;
	line-height:1.3em;
}

#view-invoice .order-overview .item-price {
	text-align:right;
	white-space:nowrap;
	width:18pt;
}

#view-invoice .order-overview .position-tax-rate {
	color:#666;
	font-size:9pt;
}

#view-invoice .order-overview .sub-total-merchandise,
#view-invoice .order-overview .grand-total {
	font-weight:bold;
}

#view-invoice .order-overview .delivery-title,
#view-invoice .order-overview .payment-title {
	font-weight:bold;
}

#view-invoice .order-overview a {
	display:none;
}
