@CHARSET "UTF-8";

#view-adminruleeditor {
	margin:20px 10px 10px;
	font-size:13px;
}

#view-adminruleeditor h2 {
	font-weight:normal;
	font-size:1.2em;
	margin-top:0px;
}

#view-adminruleeditor fieldset {
	border:1px solid #ccc;
	padding:5px;
	margin-top:5px;
	margin-bottom:5px;
}

#view-adminruleeditor select {
	float:none;
	margin:0px;
}

#view-adminruleeditor .hidden-helpers {
	visibility:hidden;
}

#view-adminruleeditor #buttons {
	margin:10px 0px 10px;
}

#view-adminruleeditor #compability-rule {
	border:1px solid #ccc;
	min-height:46px;
	padding:8px 10px 10px;
	margin:10px 0px;
}

#view-adminruleeditor #item-picker {
	padding:15px 10px 5px;
}

#view-adminruleeditor .item {
	display:inline-block;
}

#view-adminruleeditor .condition {
	border:1px solid #4DA6FF;
	background:#B3D9FF;
	color:#000;
	border-radius:15px;
	margin:2px 2px;
	padding:5px 7px;
	cursor:pointer;
}

#kenedo-page #view-adminruleeditor .condition input[type=text] {
	float:none;
	margin:0px;
	padding:0px 2px;
	width:60px;
	border-color:#4DA6FF;
	-webkit-transition: width;
	-webkit-transition-duration: 0.3s;
	transition-property: width;
	transition-duration: 0.3s;
}

#view-adminruleeditor #rule.squeeze .condition {
	max-width:120px;
	text-align:center;
	overflow:hidden;
}
	
#view-adminruleeditor .condition.selected {
	background:#4DA6FF;
	color:#fff;
}

#view-adminruleeditor .bracket {
	border:1px solid #e5e631;
	background:#FFFFB3;
	border-radius:10px;
	padding:5px 10px;
	cursor:pointer;
	margin:5px 2px;
}

#view-adminruleeditor .bracket.selected {
	background:#FDFE4C;
}

#view-adminruleeditor .combinator {
	border:1px solid #FFA54C;
	background:#FFD9B3;
	color:#000;
	border-radius:15px;
	padding:5px 7px;
	cursor:pointer;
	margin:2px 2px;
	text-transform:uppercase;
}

#view-adminruleeditor .combinator.selected {
	background:#FFA54C;
	color:#fff;
}

#view-adminruleeditor .drop-area {
	border:2px dashed #ccc;
	margin-left:2px;
	min-width:30px;
	line-height:18px;
	white-space:nowrap;
	display:inline-block;
}

#view-adminruleeditor .drop-area.initial {
	padding:5px 10px;
}

#view-adminruleeditor .drop-area.drag-over {
	border-color:#000;
}

#view-adminruleeditor #combinator-blueprints,
#view-adminruleeditor #combinator-blueprint-and,
#view-adminruleeditor #combinator-blueprint-or {
	display:inline-block;
}

#view-adminruleeditor .conditions-list li {
	width:100%;
	padding:0px;
}

#view-adminruleeditor #operator-picker-blueprint {
	display:none;
}

#view-adminruleeditor .operator-picker {
	color:#000;
	cursor:pointer;
	margin:5px 2px;
	display:inline-block;

	position:absolute;
	width:500px;
	left:-50px;
	top:10px;
	z-index: 400;
}

#view-adminruleeditor .operator-picker .operator {
	padding:5px 7px;
	display:block;
	float:left;
	border:1px solid #FF4D4D;
	border-left:none;
	background:#FFB3B3;
	text-align:center;
	white-space:nowrap;
	margin:0px;
}

#view-adminruleeditor .operator-picker .operator:first-child {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-left:1px solid #FF4D4D;
}

#view-adminruleeditor .operator-picker .operator:last-child {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

#view-adminruleeditor .operator-picker .operator.active {
	background:#FF4D4D;
	color:#fff;
}

#view-adminruleeditor .operator-picker .operator:hover {
	background:#FF4D4D;
}

#view-adminruleeditor .condition .condition-operator {
	position:relative;
	font-weight:bold;
}

#view-adminruleeditor .condition .condition-operator * {
	font-weight:normal;
}

#view-adminruleeditor .picker-tabs {
	margin-top:0px;
}

#view-adminruleeditor .picker-tabs ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

#view-adminruleeditor .picker-tab {
	display: inline-block;
	padding: 5px 10px;
	font-size: 15px;
	background: #eee;
	border: 1px solid #ccc;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
	color: #333;
	clear: none;
	float: none;
	margin: 0px;
	min-width: 0px;
}

#view-adminruleeditor .picker-tab.selected-tab {
	background: #fff;
	color: #000;
	position: relative;
	bottom: -1px;
	padding-top: 6px;
}

#view-adminruleeditor .picker-panels {
	border:1px solid #ccc;
	padding:20px 10px;
}

#view-adminruleeditor .picker-panels .panel {
	display:none;
	max-height:400px;
	overflow:auto;
	padding-bottom:20px;
}

#view-adminruleeditor .picker-panels .panel.selected-panel {
	display:block;
}

/* Panel ElementAttributes - START */
#view-adminruleeditor .product-filter select,
#view-adminruleeditor .page-filters select {
	width:100%;
	font-size:1em;
}

#view-adminruleeditor .product-filter,
#view-adminruleeditor .page-filters {
	margin-bottom:5px;
}

#view-adminruleeditor #element-picker ul,
#view-adminruleeditor #element-attributes ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

#view-adminruleeditor #element-picker {
	float:left;
	width:230px;
	margin-right:15px;
}

#view-adminruleeditor #element-picker .element-list li {
	border:1px solid #ccc;
	border-right:none;
	background:#eee;
	color:#000;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding:5px 10px;
	cursor:pointer;
	margin:5px 0px;
	display:none;
}

#view-adminruleeditor #element-picker .element-list li.picked {
	background:#ccc;
	color:#fff;
}

#view-adminruleeditor #element-picker .element-list li.shown {
	display:list-item;
}

#view-adminruleeditor #element-picker .element-list .hidden-by-element-filter,
#view-adminruleeditor #element-picker .element-list .hidden-by-element-filter.shown {
	display:none;
}

#view-adminruleeditor #element-filter {
	font-size:14px;
	padding:4px 6px;
	margin:5px 0px;
	width:216px;
	outline:none;
	background:#fff;
	display:block;
	float:none;
	line-height:16px;
}

#view-adminruleeditor #element-attributes {
	float:left;
	width:430px;
	display:none;
	padding-left:0px;
}

#view-adminruleeditor #element-attributes .conditions-list li.shown {
	display:list-item;
}

#view-adminruleeditor #element-attributes .conditions-list .xref-group {
	display:none;
	padding:0px;
}

#view-adminruleeditor .notes {
	float:right;
	width:250px;
	margin-left:10px;
}

/* Panel ElementAttributes - END */

/* Panel Example - START */
#view-adminruleeditor .custom-conditions-notes {
	margin-bottom:15px;
}
/* Panel Example - END */