@CHARSET "UTF-8";

.uk-container .container,
.container .container {
	width:auto;
}

.cb-content.container {
	text-align:left;
}

/* Joomla admin CSS changes - START */
#submenu-box {
	display:none;
}

#element-box div.t,
#element-box div.b {
	display:none!important;
}

div#element-box div.m {
	padding: 0px!important;
	border:none!important;
	background:none;
}

.admin.com_configbox .header,
.admin.com_configbox .subhead-collapse {
	display:none;
}

.view-admin {
	margin-top:25px;
}

/* Joomla admin CSS changes - END */

/* Magento admin CSS changes - START */

.configbox-admin-index {
	min-width:1172px;
}

.configbox-admin-index .middle {
	background-color: #f6f6f7;
	background-image:none;
}

/* Magento admin CSS changes - END */

/* GENERAL STYLING - START */

.cb-clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.ui-tooltip {
	background:#fff;
	box-shadow: 0 0 60px 1px rgba(50,50,50,.15);
	border:none;
	border-radius:5px;
}

.ui-tooltip .arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}

.ui-tooltip .arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ui-tooltip, .arrow:after {
	background: #fff;
}

.cb-content legend {
	height:auto;
	visibility:visible;
}

.cb-content form {
	padding:0px;
	margin:0px;
}

.cb-content th {
	border:none;
	background:none;
	color:inherit;
	padding:0px;
	text-align:left;
}

.cb-content td {
	border:none;
	background:none;
}

.cb-content legend {
	width:auto;
	margin:0px;
	padding:0px 5px;
	border:none;
	background:none;
	font-size:inherit;
}

.cb-content a {
	cursor:pointer;
}

.cb-content a img {
	border: none;
}

.cb-content ul li {
	padding-left:0px;
}

.cb-content fieldset {
	border:1px solid #ccc;
	padding:5px;
	margin-top:10px;
	margin-bottom:10px;
}

.configbox-heading {
	min-height:60px;
}

.configbox-heading .configbox-logo {
	background:url('../images/configbox-logo.png') no-repeat center center;
	background-size:250px auto;
	width:280px;
	height:45px;
	float:left;
}

.configbox-heading .right-part {
	float:right;
	margin-right:22px;
	text-align:right;
}

.configbox-heading .right-part div {
	line-height:16px;
}

.cb-content .offcanvas-toggle {
	font-size:20px;
}

.cb-content .offcanvas-toggle:hover {
	text-decoration: none;
}

.cb-content .badge-enterprise-feature {
	color: #1861ff;
	border: 1px solid #4da6ff;
	background: #b3d9ff;
	padding:7px 5px;
	font-size:14px;
	margin:5px 0;
	text-align:center;
}

/* GENERAL STYLING - END */


/* CONVENIENCE CLASSES - START */

table.sans-border {
	border-collapse: collapse;
}

table.sans-border th,
table.sans-border td {
	border:none;
}

table.sans-padding th,
table.sans-padding td {
	padding:0px;
}

.configbox-block .floatright,
.cb-content .floatright {
	float:right;
}

.configbox-block .floatleft,
.cb-content .floatleft {
	float:left;
}

.configbox-block .clearright,
.cb-content .clearright {
	clear:right;
}

.configbox-block .clearleft,
.cb-content .clearleft {
	clear:left;
}

.configbox-block .clear,
.cb-content .clear {
	clear:both;
}

/* CONVENIENCE CLASSES - END */


/* BUTTONS - START */

.cb-content .button-frontend-small {
	border:1px solid #ccc;
	padding:5px 8px;
	text-decoration:none;
	white-space:nowrap;
	color:#333;
	border-radius:0px;
	font-weight:normal;
	box-shadow: 0 1px 0 #fff;
	cursor:pointer;
	display:inline-block;
	background: rgb(248,248,248);
	background: -moz-linear-gradient(top,  rgb(248,248,248) 0%, rgb(246,246,246) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(248,248,248)), color-stop(100%,rgb(246,246,246)));
	background: -webkit-linear-gradient(top,  rgb(248,248,248) 0%,rgb(246,246,246) 100%);
	background: -o-linear-gradient(top,  rgb(248,248,248) 0%,rgb(246,246,246) 100%);
	background: -ms-linear-gradient(top,  rgb(248,248,248) 0%,rgb(246,246,246) 100%);
	background: linear-gradient(to bottom,  rgb(248,248,248) 0%,rgb(246,246,246) 100%);
}

.cb-content .button-frontend-small:hover {
	text-decoration:none;
	border:1px solid #777;
}

.cb-content input.button-frontend-small {
	padding:0px 8px 0px 8px;
	color:#333;
	font-size:1em;
	line-height: 1.7em;
}

.cb-content .button-frontend-small .kenedo-popup-trigger-content a {
	color:#333;
}

.cb-content .button-frontend-small .kenedo-popup-trigger-content a:hover {
	text-decoration:none;
}

/* CART VIEW - START */

.cb-content #view-cart .cart-positions {
	margin:10px 0px;
	border:1px solid #ccc;
	background:none;
	padding:5px 5px 7px;
}

.cb-content #view-cart th {
	vertical-align:top;
	padding:5px;
}

.cb-content #view-cart td {
	vertical-align:top;
	padding:5px;
}

.cb-content #view-cart .print-link {
	float:right;
}
.cb-content #view-cart .cart-position-item {
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}

.cb-content #view-cart .cart-position-item:last-child {
	padding-bottom:0px;
	margin-bottom:0px;
	border-bottom:none;
}

.cb-content #view-cart .cart-position-product-title {
	margin:5px 5px;
}

.cb-content #view-cart .cart-position-product-image {
	float:right;
	clear:right;
	margin:5px 5px 5px 10px;
}

.cb-content #view-cart .cart-position-configuration {
	float:left;
	margin:5px 5px 10px;
	width:auto;
	border-collapse:collapse;
}

.cb-content #view-cart .cart-position-configuration td,
.cb-content #view-cart .cart-position-configuration th {
	padding:0px 0px 0px;
	border:none;
}
.cb-content #view-cart .cart-position-configuration .element-list-total-unit-price td {
	padding-top:2px;
	border-top:1px solid #ccc;
}

.cb-content #view-cart .cart-position-configuration .element-list-total td {
	padding-top:2px;
	font-weight:bold;
	border-top:1px solid #ccc;
}

.cb-content #view-cart .cart-position-configuration th.element-list-item,
.cb-content #view-cart .cart-position-configuration th.element-list-price-recurring,
.cb-content #view-cart .cart-position-configuration th.element-list-price {
	vertical-align:bottom;
	padding-bottom:5px;
}

.cb-content #view-cart .cart-position-configuration .element-list-item {
	text-align:left;
	padding-right:10px;
}

.cb-content #view-cart .cart-position-configuration .element-list-price-recurring,
.cb-content #view-cart .cart-position-configuration .element-list-price {
	text-align:right;
	padding-left:10px;
	width:90px;
	vertical-align:top;
	white-space:nowrap;
}

.cb-content #view-cart .cart-position-configuration .element-output-value {
	font-weight:bold;
}

.cb-content #view-cart .position-controls {
	text-align:right;
}

.cb-content #view-cart .cart-position-item .label-product-quantity {
	display:inline;
}

.cb-content #view-cart .cart-position-item input.input-product-quantity {
	display:inline;
	width:2.5em;
	height:auto;
	font-size:1em;
	text-align:right;
	border:1px solid #ccc;
	padding:5px 5px 5px;
	border-radius:2px;
	outline:none;
	margin:0px;
	position:relative;
	top:-1px;
}

.cb-content #view-cart .cart-summary table {
	border-collapse: collapse;
	width:100%;
}

.cb-content #view-cart .cart-summary table th,
.cb-content #view-cart .cart-summary table td {
	border:1px solid #ccc;
	padding:3px 5px;
}

.cb-content #view-cart .cart-summary .item-price {
	text-align:right;
	white-space:nowrap;
	width:100px;
}

.cb-content #view-cart .cart-summary .payable-amount {
	text-align:center;
	font-weight:bold;
}

.cb-content #view-cart .cart-summary .sub-total-merchandise,
.cb-content #view-cart .cart-summary .grand-total {
	font-weight:bold;
}

.cb-content #view-cart .cart-summary .tax-rate-tooltip a:hover,
.cb-content #view-cart .cart-summary .delivery-tooltip a:hover,
.cb-content #view-cart .cart-summary .payment-tooltip a:hover {
	text-decoration:none;
}

.cb-content #view-cart .cart-buttons {
	margin-top:10px;
}

/* CART VIEW - END */



/* CURRENCY MODULE - START */

.block-currencies .hidden-button,
.block-currencies .hidden-label {
	display:none;
}

.block-currencies .conversion-table {
	margin-top:5px;
}

/* CURRENCY MODULE - END */


/* IMAGE MODULE - START */

.block-visualization .visualization-image {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index:1;
	overflow:hidden;
}

.block-visualization .image-type-element-image {
	width:auto;
}

.block-visualization .visualization-frame {
	position:relative;
	z-index:2;
}

/* IMAGE MODULE - END */


/* QUICKEDIT - START */

.cb-content .quickeditwait:before {
	margin-left:5px;
	font-family:FontAwesome;
	content: "\f110";
	animation: fa-spin 2s infinite linear;
	-webkit-font-smoothing: antialiased;
	display:inline-block;
}

.cb-content .quick-edit-buttons {
	background:rgba(255, 255, 255, 0.7);
	font-size:16px;
	line-height:16px;
	border-radius:2px;
	padding:5px;
	z-index:100;
}

.cb-content .touch-no .quick-edit-buttons {
	opacity:0;
	transition-property: opacity;
	transition-duration: .5s;
}

.cb-content .touch-no .element:hover .quick-edit-buttons-option,
.cb-content .touch-no .element:hover .quick-edit-buttons-element,
.cb-content:hover .touch-no .quick-edit-buttons-product-listing-page,
.cb-content:hover .touch-no .quick-edit-buttons-configuration-page,
.cb-content .touch-no .listing-product:hover .quick-edit-buttons {
	opacity:1;
	transition-property: opacity;
	transition-duration: .5s;
}

.cb-content .touch-no .quick-edit-buttons-configuration-page .quick-edit-buttons-content .fa:before {
	margin-right:5px;
}

.cb-content .quick-edit-buttons .toolbarbutton {
	display:inline-block;
}

.cb-content .quick-edit-buttons a {
	display:inline-block;
	font-size:14px;
}

.cb-content .quick-edit-buttons a:hover {
	text-decoration:none;
}

.cb-content .quick-edit-buttons-product {
	position:absolute;
	top:0px;
	right:0px;
}

.cb-content .quick-edit-buttons-product-listing-page {
	position:absolute;
	top:5px;
	right:0px;
	font-weight:bold;
}

.cb-content .quick-edit-buttons-product-listing-page .fa:before {
	padding-right:3px;
}

.cb-content .quick-edit-buttons-product .fa:before {
	padding-right:3px;
}

.cb-content .quick-edit-buttons-configuration-page {
	position:absolute;
	top:0px;
	right:0px;
	z-index:300;
}

.cb-content .quick-edit-buttons-element {
	position:absolute;
	top:3px;
	right:5px;
}

.cb-content .quick-edit-buttons-option {
	position:absolute;
	top:0px;
	right:0px;
	padding:1px;
}

.cb-content .element.type-dropdown .quick-edit-buttons-option {
	right:-30px;
	z-index:10000;
}

.cb-content .quick-edit-buttons-configuration-page .quick-edit-buttons-content {
	display:none;
	z-index:30000;
	padding:5px;
	border-radius:10px;
}

.cb-content .listing-products .listing-product:first-child .quick-edit-buttons-product {
	top:28px;
}

.cb-content .quick-edit-buttons-configuration-page .quick-edit-buttons-content .toolbarbutton {
	display:block;
	margin-bottom:4px;
}

.cb-content .image-picker .quick-edit-buttons-option {
	right:4px;
	top:4px;
}

.cb-content .xref {
	position:relative;
}

.cb-content .no-heading .quick-edit-buttons-element,
.cb-content .joined-element-end .quick-edit-buttons-element,
.cb-content .joined-element .quick-edit-buttons-element {
	padding:1px;
	top:2px;
}

.cb-content .no-heading .quick-edit-buttons-option,
.cb-content .joined-element-end .quick-edit-buttons-option,
.cb-content .joined-element .quick-edit-buttons-option {
	right:50px;
	padding:1px;
}

.cb-content .quickedit-input {
	outline:none;
	padding:0px;
}

.cb-content .quick-edit-textfield-button {
	font-size:14px;
	position:relative;
	margin-right:4px;
}

.cb-content .quick-edit-textarea-button {
	font-size:16px;
	position:relative;
	margin-left:10px;
	text-decoration:none;
	float:right;
}

.cb-content .quick-edit-textarea-button .fa:before {
	padding-right:4px;
}

/* QUICKEDIT - END */


/* jQueryUI Datepicker - START */

.cb-content .configbox-widget-calendar-display {
	border:none;
	background:none;
	font-size:1em;
	padding:0px;
	margin:0px;
}

/* jQueryUI Datepicker - END */


/* jQueryUI Slider - START */

.cb-content .ui-slider .ui-slider-handle {
	z-index:1;
	outline:none;
}

/* jQueryUI Slider - END */


/* COLORBOX STYLING - START */

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
#cboxContent{margin-top:20px;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{border:none; background:#fff;}
#cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
#cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px;width:28px; height:65px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:bottom left;}
#cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; width:28px; height:65px; text-indent:-9999px;}
#cboxNext:hover{background-position:bottom right;}
#cboxLoadingOverlay{background:#000;}
#cboxClose{position:absolute; top:5px; right:5px; display:block;width:38px; height:19px; text-indent:-9999px;}
#cboxClose{display:none!important}


/* COLORBOX STYLING - END */




/* CONFIGBOX BACKEND - START */

.view-admindashboard .software-update p {
	margin:0px;
}

.cb-content .property-type-shapedivermodel .property-body label {
	display:block;
	font-weight:bold;
	margin-bottom:4px;
}

.cb-content .kenedo-property.property-name-shapediver_parameter_id {
	width:100%;
}

.cb-content .kenedo-property.property-name-shapediver_parameter_id select,
.cb-content .kenedo-property.property-name-shapediver_parameter_id .chosen-container {
	width:calc(50% - 13px)!important;
}

.view-admindashboard .news {
	background:#fff;
	border-radius:5px;
	padding:10px;
	height:410px;
	overflow:hidden;
	margin-bottom:20px;
	position:relative;
}

.view-admindashboard .news+.overflow-gradient {
	background:url('../images/news-box-gradient.png') bottom left repeat-x;
	height:20px;
	margin-top:-40px;
	position:relative;
	z-index:2000;
	margin-left:1px;
	width:100%;
}

.view-admindashboard .news:hover {
	overflow:auto;
}

.view-admindashboard .news h2 {
	margin-top:5px;
	font-size:18px;
}

.view-admindashboard .news h3 {
	font-weight:bold;
	font-size:1em;
}

.view-admindashboard .box {
	background:#fff;
	border-radius:5px;
	padding:10px 10px 15px;
	margin-bottom:10px;
}

.view-admindashboard .box h2 {
	margin-top:5px;
	font-size:18px;
}

.view-admindashboard .box h3 {
	margin-top:10px;
	font-size:1em;
}

.view-admindashboard .toggle-handle {
	cursor:pointer;
	margin-bottom:0px;
}

.view-admindashboard .toggle-handle.opened {
	margin-bottom:10px;
}

.view-admindashboard .toggle-handle span:before {
	content: "\f0da";
	font-family:FontAwesome;
	display:inline-block;
	width:1em;
	font-weight:normal;
	text-align:center;
}

.view-admindashboard .toggle-handle.opened span:before {
	content: "\f0d7";
	font-family:FontAwesome;
	display:inline-block;
	width:1em;
	font-weight:normal;
	text-align:center;
}

.view-admindashboard .toggle-content {
	display:none;
	margin-left:18px;
}

.view-admindashboard h4 {
	margin:0px;
}

.view-admindashboard  ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.view-admindashboard li {
	margin:0px;
	padding:0px;
}

.view-admindashboard .box.critical-issues {
	border-color:red;
}

.view-admindashboard .stat-title,
.view-admindashboard .issue-title,
.view-admindashboard .k-tip-title {
	font-weight:normal;
	font-size:14px;
}

.view-admindashboard .toggle-handle span {
	padding-right:5px;
}

.view-admindashboard .issue-item h4,
.view-admindashboard .tip-item h4 {
	margin-top:5px;
	margin-bottom:5px;
	font-size:14px;
}

.view-admindashboard .no-update-available span,
.view-admindashboard .tips .no-tips span,
.view-admindashboard .issues .no-issues span {
	padding-right:5px;
	position:relative;
	top:-1px;
}

.view-admindashboard .no-update-available,
.view-admindashboard .mayor-update-available,
.view-admindashboard .patchlevel-update-available {
	display:none;
}

.view-admindashboard .latest-version-patchlevel,
.view-admindashboard .latest-version-mayor {
	font-weight:bold;
}

.view-admindashboard .software-update .fa {
	padding-right:4px;
}

.view-admindashboard .software-update .fa-spin {
	font-size:15px;
	padding-right:0px;
	margin-right:7px;
}

.view-admindashboard .manual-link {
	color:inherit;
	text-decoration:none;
}

.view-admindashboard .manual-link .fa:before {
	padding-right:7px;
}

#view-admincustomer .view-customerform {
	padding:0px;
	clear:both;
	margin-top:20px;
}

.cb-content #view-adminproductlistingassignments .tasks-and-filters {
	display:none;
}

#view-admin .kenedo-tabs {
	display:none;
}

.cb-content #view-adminproduct .property-group-detail_panes_start .property-group-properties {
	float:none;
}

.cb-content #view-adminproduct #property-name-product_detail_panes>.property-body {
	margin-top:-40px;
}

.cb-content #view-adminproduct .property-name-product_listing_ids .multiselect-toggles {
	display:none;
}

.cb-content #view-adminconfig .intra-listing .kenedo-page-title {
	clear: none;
	height: auto;
	line-height: inherit;
	visibility: visible;
	font-size: 16px;
	margin-top:5px;
	font-weight:bold;
}

.cb-content #view-adminconfig .intra-listing .kenedo-page-title:before {
	font-family: FontAwesome;
	content: '\f0c8';
	color: #025A8D;
	padding-right: 6px;
	padding-left: 1px;
}

.cb-content #view-adminconfig #property-name-connectors .kenedo-page-title {
	display:none;
}

#view-adminconfig .property-group-connectors_start .property-group-properties {
	float:none;
	margin-top:-30px;
}

.cb-content #view-adminconfig .intra-listing .tasks-and-filters {
	margin-bottom:0px;
}

.cb-content #view-adminconfig #property-name-currencies .property-body,
.cb-content #view-adminconfig #property-name-connectors .property-body {
	margin-left:0px;
}

.cb-content #view-adminconfig .property-group-price_module_start_regular,
.cb-content #view-adminconfig .property-group-price_module_start_recurring {
	float:left;
	width:50%;
}

.cb-content #view-adminconfig .property-group-price_module_start_regular   .property-group-content,
.cb-content #view-adminconfig .property-group-price_module_start_recurring .property-group-content {
	padding-left:0px;
}

.cb-content #view-adminproduct .property-group-price_module_start_recurring,
.cb-content #view-adminproduct .property-group-price_module_start_regular {
	float:left;
	clear:none;
	width:calc(50% - 15px);
}

.cb-content #view-adminproduct #property-name-price_module_start_regular {
	margin-right:30px;
}

.cb-content #view-adminproduct .property-group-price_module_start_recurring .property-group-content,
.cb-content #view-adminproduct .property-group-price_module_start_regular   .property-group-content {
	padding-left:0px;
}

#property-name-price_module_start_recurring .kenedo-property,
#property-name-price_module_start_regular .kenedo-property {
	width:100%;
}

.cb-content #view-adminelement .kenedo-properties {
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

.cb-content #view-adminelement #view-adminoptionassignments .tasks-and-filters {
	margin-top: -35px;
	margin-bottom: 0px;
}

.cb-content #view-adminoptionassignment .kenedo-property {
	width:auto;
}

.cb-content #view-adminoptionassignment .option-fields-target .kenedo-properties {
	margin-top:0;
}

.cb-content #view-adminelement .property-group-assignments_group .property-group-properties {
	float:none;
}

.cb-content #view-adminelement .element-option-assignments .property-group-content {
	padding-top:10px;
}

.cb-content #view-admincounties .kenedo-filter #xref_admincountries_adminzones_zone_id_chosen,
.cb-content #view-admincounties .kenedo-filter #adminstates_name,
.cb-content #view-admincounties .kenedo-filter #xref_admincountries_adminzones_zone_id,
.cb-content #view-admincounties .kenedo-filter #admincountries_state_name,
.cb-content #view-admincounties .kenedo-filter #admincountries_country_name {
	display:none;
}

#order-property-name-ordering {
	white-space: nowrap;
}

.kenedo-candelete-usage-entries {
	margin:10px;
}

.kenedo-candelete-usage-entries .kenedo-candelete-usage-entry-link {
	text-decoration:underline;
}

.cb-content .property-type-rule {
	width:100%;
}

.cb-content .property-type-rule .property-body {
	margin-bottom:-2px;
}

.cb-content .property-type-rule .modal-dialog {
	width:98%;
}

.cb-content .property-type-rule .modal-content {
	padding:10px 15px;
}


.cb-content .rule-wrapper {
	cursor:pointer;
}

.cb-content .rule-wrapper.has-rule .rule-html {
	display:inline-block;
}

.cb-content .rule-wrapper.has-rule .trigger-delete-rule {
	display:inline-block;
}

.cb-content .rule-wrapper.has-no-rule .trigger-delete-rule {
	display:none;
}

.cb-content .rule-wrapper.has-no-rule .rule-html {
	display:none;
}

.cb-content .rule-wrapper.has-rule span.trigger-edit-rule {
	display:block;
}

.cb-content .rule-wrapper.has-rule .pseudo-rule-no-conds {
	display:none;
}

.cb-content .rule-wrapper.has-no-rule .pseudo-rule-no-conds {
	display:inline-block;
}

.cb-content .rule-wrapper {
	margin-bottom:-2px;
}

.cb-content .pseudo-rule-no-conds {
	padding:1px 5px 0;
	line-height:31px;
	display:inline-block;
	margin:0px 2px 0;
	border-radius:2px;
	border:1px solid #70bc52;
	background:#dff0d8;
}

.cb-content .rule-html .item {
	padding:1px 5px 0;
	line-height:23px;
	display:inline-block;
	margin:0 2px 3px 0;
	border-radius:12px;
}

.cb-content .rule-html>.item:first-child {
	margin-left:0px;
}

.cb-content .rule-html .condition {
	border:1px solid #4DA6FF;
	background:#B3D9FF;
}

.cb-content .rule-html .combinator {
	border:1px solid #FFA54C;
	background:#FFD9B3;
}

.cb-content .rule-html .bracket {
	border:1px solid #e5e631;
	background:#FFFFB3;
	padding: 3px 3px 0px;
}

.cb-content .rule-html .bracket .item {
	/*margin-bottom:0;*/
}

.cb-content #view-admincalculation .calc-type-subview .kenedo-view {
	padding:0;
}

.cb-content #view-admincalculation .calc-type-subview .panel {
	border:none;
}

.cb-content #view-admincalculation #view-admincalccode .syntax-notes {
	font-weight:bold;
}

.cb-content #view-admincalculation .calculation-table-notes {
	float:right;
	width:350px;
	padding-left:10px;
	padding-right:10px;
	margin-top:-106px;
}

.cb-content #view-admincalculation.in-modal .task-copy {
	display:none;
}

.cb-content #view-admincalculation.in-modal #property-name-product_id {
	display:none;
}

.cb-content #view-admincalculation #property-name-matrix .property-label {
	display:none;
}

.cb-content #view-admincalculation .task-store {
	display:none;
}

.cb-content #view-admincalculation.in-modal .task-store {
	display:block;
}

.cb-content #view-adminelement .draghandler {
	width:17px;
	cursor:move;
}

.cb-content #view-adminelement .draghandler .fa {
	margin-top:1px;
	font-size:15px;
	color:#666;
}

.cb-content #view-adminelement .draghandler:hover {
	background-position: 0 -20px;
}

.cb-content #view-adminelement #optionList {
	min-width:820px;
	margin-bottom:20px;
}

.cb-content #view-adminelement #optionList ul {
	margin:0px;
	padding:0px;
}

.cb-content #view-adminelement #optionList li {
	margin:5px 0px;
	padding:5px;
	list-style:none;
	border:1px solid #ccc;
	background:none;
}

.cb-content #view-adminelement #optionList .heading .ordering {
	margin-left:6px;
}

.cb-content #view-adminelement #optionList .heading {
	font-weight:bold;
}

.cb-content #view-adminelement #optionList .ordering {
	float:left;
	width:30px;
}

.cb-content #view-adminelement #optionList .heading .default {
	position:relative;
	left:-20px;
}

.cb-content #view-adminelement #optionList .default {
	float:left;
	width:50px;
}

.cb-content #view-adminelement #optionList .default input {
	margin:0px;
}

.cb-content #view-adminelement #optionList .id {
	float:left;
	width:40px;
	overflow:hidden;
}

.cb-content #view-adminelement #optionList .title {
	float:left;
	width:200px;
	overflow:hidden;
}

.cb-content #view-adminelement #optionList .sku {
	float:left;
	width:100px;
	overflow:hidden;
}

.cb-content #view-adminelement #optionList .has-rule {
	float:left;
	width:50px;
	overflow:hidden;
}

.cb-content #view-adminelement #optionList .has-image {
	float:left;
	width:50px;
	overflow:hidden;
}

.cb-content #view-adminelement #optionList .has-calc {
	float:left;
	width:50px;
	overflow:hidden;
}

.cb-content #view-adminelement #optionList .published {
	float:left;
	width:40px;
	overflow:hidden;
}

.cb-content #view-adminelement #optionList .tools {
	float:right;
}

.cb-content #view-adminelement #optionList .tools a {
	padding-right:10px;
	white-space: nowrap;
}

.cb-content #view-admintemplates .kenedo-tasks {
	float:right;
}

.cb-content #view-admintemplates ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

.cb-content #view-admintemplate .CodeMirror {
	margin-top:20px;
}

.cb-content #view-admintemplate .file-name {
	font-size:13px;
	word-break:break-all;
	margin-top:20px;
}

.cb-content .adminform-subset-price_module_start_regular {
	float:left;
}

.cb-content .adminform-subset-price_module_start_recurring {
	float:left;
}

.cb-content #view-config .property-group-custom_fields_start .property-label {
	width:250px;
}

.cb-content #view-config .property-group-custom_fields_start .property-body {
	margin-left:260px;
}

#view-adminpaymentmethod .property-group-desc_start.property-group-opened {
	clear:both;
}

#view-adminpaymentmethod .property-group-desc_start.property-group-closed {
	clear:none;
}

#view-adminpaymentmethod {
	position:relative;
}

#view-adminpaymentmethod .kenedo-properties {
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

#view-adminpaymentmethod .payment-class-settings {
	float:right;
	padding:10px;
	width:400px;
	background:#fff;
	border-radius:5px;
}

#view-adminpaymentmethod .payment-class-settings .kenedo-property {
	width:100%;
}

#view-adminpaymentmethod .payment-class-settings input[type=text] {
	width:100%;
}

#view-adminpaymentmethod #form-field-desc {
	clear:both;
}

#view-adminpaymentmethod .payment-class-settings .payment-class-settings-heading {
	font-weight:bold;
	margin-bottom:10px;
}

#view-adminpaymentmethod .payment-class-settings label {
	padding-left:2px;
	padding-right:5px;
}

.cb-content #view-adminpaymentmethod .notification_url_textfield {
	width:90%;
}

.cb-content #view-adminshopdata .property-group-invoicestart .property-group-notes {
	margin-left:0px;
	float:none;
	width:auto;
}

.cb-content #view-adminshopdata .property-name-invoice .property-label {
	float:none;
	text-align:left;
	padding-bottom:5px;
	margin-left:0px;
	width:auto;
}

.cb-content #view-adminshopdata .property-name-invoice .property-body {
	float:none;
	padding-top:0px;
	padding-left:0px;
	margin-left:0px;
}

.cb-content #view-adminshopdata .property-group-notes li {
	margin:0px;
	padding:0px;
}

.cb-content #view-adminshopdata .property-group-invoicestart .shop-data-keyword-group {
	display:inline-block;
	width:180px;
	vertical-align:top;
}

.cb-content #view-adminshopdata .property-group-invoicestart .shop-data-keyword-group ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

.cb-content .property-type-taxclassrates .property-body {
	margin-left:0px;
}

.cb-content #view-adminorder .order-meta-info {
	margin-top:10px;
	margin-bottom:10px;
}

.cb-content #view-adminorders .datepicker {
	width:100px;
}

.cb-content #view-adminorders .kenedo-page-title {
	margin-top:0px;
	float:left;
}

#view-adminorders .kenedo-listing th.field-id,
#view-adminorders .kenedo-listing td.field-id {
	width:auto!important;
	min-width:50px;
	padding-right:10px;
}

.cb-content #view-adminorders .tasks-and-filters {
	clear:right;
}

.cb-content #view-adminorder .order-overview-table {
	width:100%;
}

.cb-content #view-adminorder fieldset {
	padding:10px;
}

.cb-content #view-adminorder .custom-order-values .key {
	font-weight:bold;
	margin-top:5px;
}

.cb-content #view-adminorder .order-overview td {
	vertical-align:top;
}

.cb-content #view-adminorder .order-overview ul {
	margin:0px;
	padding:0px;
}

.cb-content #view-adminorder .order-overview li {
	margin:0px;
	padding:0px;
	list-style:none;
}

.cb-content #view-adminorder .status {
	padding-bottom: 7px;
}

.cb-content #view-adminorder .status .chosen-container {
	width:300px!important;
}

.cb-content #view-adminorder .invoice {
	padding-bottom: 7px;
}

.cb-content #view-adminorder .invoice .form-item {
	margin:5px 0px;
}

.cb-content #view-adminorder .invoice label {
	display:inline-block;
	min-width:150px;
	margin-right:10px;
}

.cb-content #view-adminorder .invoice input[type=text] {
	width:90px;
	padding-top:2px;
	padding-bottom:2px;
}

.cb-content #view-adminorder .status select {
	clear:none;
	float:left;
	margin-right:5px;
	line-height:25px;
	height:25px;
}

.cb-content #view-adminorder .admin-order-address h4 {
	margin-top:10px;
	margin-bottom:10px;
}

.cb-content #view-adminorder .user-info-table th,
.cb-content #view-adminorder .user-info-table td {
	padding-left:0px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
}

/*
.cb-content #view-admin.in-frontend .configbox-logo,
.cb-content #view-admin.in-frontend .configbox-mainmenu  {
	display:none;
}
*/

#view-adminuser .property-group-billing_start {
	float:left;
	clear:none;
	margin-right:60px;
}

#view-adminuser .property-group-delivery_start {
	float:left;
	clear:none;
}

.cb-content #view-adminuserfields .user-fields-table {
	border-collapse:collapse;
}

.cb-content #view-adminuserfields .user-fields-table th {
	padding:5px 5px;
	border:1px solid #ccc;
	text-align:center;
}

.cb-content #view-adminuserfields .user-fields-table td {
	padding:1px 5px;
	text-align:center;
	border:1px solid #ccc;
	min-width:20px;
}

.cb-content #view-adminuserfields .user-fields-table th a {
	color:#000;
	text-decoration:none;
	cursor:default;
}

.cb-content #view-adminuserfields .user-fields-table .field-name {
	text-align:left;
}

.cb-content #view-adminuserfields .user-fields-table .browser-validation,
.cb-content #view-adminuserfields .user-fields-table .server-validation {
	text-align:left;
}

.cb-content #view-adminuserfields .user-fields-table .server-validation {
	width:190px;
}

.cb-content #view-adminuserfields .user-fields-table .browser-validation input,
.cb-content #view-adminuserfields .user-fields-table .server-validation input {
	width:125px;
	height:14px;
	margin:2px 0px;
	padding:2px 2px;
}

.cb-content #view-adminuserfields .user-fields-table .loading-symbol {
	font-family:FontAwesome;
	content: "\f110";
	animation: fa-spin 2s infinite linear;
	-webkit-font-smoothing: antialiased;
	display:none;
}

.cb-content #view-adminusergroup .property-group-discounts_start>.property-group-content>.property-group-properties {
	float:none;
}

.cb-content #view-adminusergroup .property-group-discounts_regular_start,
.cb-content #view-adminusergroup .property-group-discounts_recurring_start {
	float:left;
	clear:none;
	margin-right:30px;
}

.cb-content #view-adminusergroup .property-type-usergroupdiscount .translation input {
	width:180px;
}

.cb-content #view-adminusergroup .property-group-discounts_start .property-group {
	border:1px solid #ccc;
	padding:10px;
}

.cb-content #view-adminusergroup .property-type-usergroupdiscount .price {
	margin-top:5px;
}

.cb-content #view-adminusergroup .property-type-usergroupdiscount .discount {
	margin-top:5px;
}

.cb-content #view-adminusergroup .property-type-usergroupdiscount .discount-title label,
.cb-content #view-adminusergroup .property-type-usergroupdiscount .price label,
.cb-content #view-adminusergroup .property-type-usergroupdiscount .discount label {
	display:block;
	text-align:left;
	width:auto;
	margin-bottom:3px;
	font-weight:bold;
}

.cb-content #view-adminusergroup .property-type-usergroupdiscount .discount-label {
	position:relative;
	top:10px;
}

.cb-content #view-adminusergroup .property-type-usergroupdiscount .translation label {
	font-weight:normal;
}

.cb-content #view-adminusergroup .property-type-usergroupdiscount .price input,
.cb-content #view-adminusergroup .property-type-usergroupdiscount .discount input {
	width:60px;
	float:none;
}

.cb-content #view-adminemail .kenedo-properties {
	float:left;
}

.cb-content #view-adminemail #notifications-keys {
	float:left;
	width:200px;
	margin-left:10px;
	background:#fff;
	border-radius:5px;
	padding:10px;
}

.cb-content #view-adminemail #notifications-keys b {
	display:block;
	margin-top:5px;
	margin-bottom:5px;
}

.cb-content #view-adminemail #notifications-keys ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

.cb-content #view-adminemail #notifications-keys li {
	margin:0px;
	padding:0px;
}

/* BACKEND - END */

/* CART BLOCK - START */

.block-cart .cart-order-listing ul,
.block-cart .cart-order-listing li {
	list-style:none;
	margin:0px;
	padding:0px;
	background:none;
	clear:right;
}

.block-cart .cart-product-price-recurring,
.block-cart .cart-product-price {
	float:right;
}

.block-cart .cart-totals {
	clear:right;
}

.block-cart .cart-total-price-recurring,
.block-cart .cart-total-price {
	float:right;
}

/* CART BLOCK - END */

/* NAVIGATION BLOCK - START */

.block-navigation ul.menu {
	display:block;
}

.block-navigation ul,
.block-navigation li {
	margin:0px;
	padding:0px;
	list-style:none;
	background:none;
}

.block-navigation ul.closed {
	display:none;
}

.block-navigation li.active a {
	font-weight:bold;
}

.block-navigation.tab-style li * {
	background-image:none;
	margin:0px;
	padding:0px;
	display:block;
	text-decoration:none;
}

.block-navigation.tab-style ul {
	border-bottom:1px solid #ccc;
}

.block-navigation.tab-style li {
	display:inline-block;
	background-color:#eee;
	background-image:none;
	border:1px solid #ccc;
	border-bottom:none;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	text-align:center;
	margin-right: 5px;
}

.block-navigation.tab-style li a {
	padding:8px 10px;
	border-top: 1px solid white;
	border-radius: 4px;
}

.block-navigation.tab-style li a:hover {
	background:none;
	text-decoration:none;
}

.block-navigation.tab-style li:hover,
.block-navigation.tab-style li.active {
	background:#fff;
	position:relative;
	top:0px;
	border-bottom-color:rgba(255,255,255,0);
	padding-top:1px;
	box-shadow: none;
}


/* NAVIGATION BLOCK - END */

/* BACKEND - START */

.configbox-ajax-target>.kenedo-view {
	display:block;
	border:1px solid #ddd;
	box-shadow:0px 0px 1px 1px #efefef;
	background:#fff;
	padding: 15px 15px 10px;
}

.cb-content .configbox-ajax-target #view-adminshopdata .task-cancel,
.cb-content .configbox-ajax-target #view-adminshopdata .task-store,

.cb-content .configbox-ajax-target #view-adminproduct .task-cancel,
.cb-content .configbox-ajax-target #view-adminproduct .task-store,

.cb-content .configbox-ajax-target #view-adminpage .task-cancel,
.cb-content .configbox-ajax-target #view-adminpage .task-store,

.cb-content .configbox-ajax-target #view-adminelement .task-cancel,
.cb-content .configbox-ajax-target #view-adminelement .task-store,

.cb-content .configbox-ajax-target #view-adminxrefelementoption .task-cancel,
.cb-content .configbox-ajax-target #view-adminxrefelementoption .task-store,

.cb-content .configbox-ajax-target #view-adminoptionassignment .task-cancel,
.cb-content .configbox-ajax-target #view-adminoptionassignment .task-store {
	display:none;
}

.cb-content #view-adminmainmenu {
	padding:0px;
}

.cb-content .configbox-mainmenu {
	font-size:15px;
	background:#fff;
	padding:16px 15px 10px;
	border-radius:5px;
}

.cb-content .configbox-mainmenu {
	border-radius:0px;
	border:1px solid #ddd;
	box-shadow:0px 0px 1px 1px #efefef;
	background:#fff;
}

.cb-content .configbox-mainmenu .menu-list {
	margin:0px;
	margin-bottom:16px;
	padding:0px;
	list-style:none;
}

.cb-content .configbox-mainmenu .menu-list .menu-list-item {
	margin:0px;
	padding:0px;
	list-style:none;
	margin-bottom:8px;
}

.cb-content .configbox-mainmenu .trigger-toggle-sub-items {
	font-size: 16px;
	border-bottom: none;
	width: auto;
	margin-bottom: 8px;
	line-height: 1em;
	color: #025A8D;
	font-weight:bold;
	cursor:pointer;
}

.cb-content .configbox-mainmenu .trigger-toggle-sub-items:before {
	font-family:FontAwesome;
	content:'\f0fe';
	padding-right:5px;
}

.cb-content .configbox-mainmenu .sub-items {
	display:none;
}

.cb-content .configbox-mainmenu .sub-items.opened {
	display:block;
	margin-left:22px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper {
	margin-left:-19px;
	font-size:14px;
}

.cb-content .configbox-mainmenu .trigger-toggle-sub-items.opened:before {
	content:'\f146';
}

.cb-content .configbox-mainmenu .menu-link {
	font-size: 16px;
	border-bottom: none;
	width: auto;
	margin-bottom: 0px;
	line-height: 1em;
	color: #025A8D;
	font-weight:bold;
	cursor:pointer;
	text-decoration:none;
}

.cb-content .configbox-mainmenu .menu-link:before {
	font-family:FontAwesome;
	content:'\f0c8';
	color:#025A8D;
	padding-right:5px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .product-list {
	margin-top:12px;
	margin-bottom:15px;
	padding-left:0px;
	margin-left:0px;
	margin-right:0px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper ul {
	list-style:none;
	padding-left:20px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper li {
	cursor:pointer;
	margin-top:0px;
	margin-bottom:2px;
	white-space: nowrap;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .product-item>.edit-link {
	max-width:210px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .page-item>.edit-link {
	max-width:190px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .question-item>.edit-link {
	max-width:170px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .answer-item>.edit-link {
	max-width:169px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .ui-state-highlight {
	height:15px;
	margin-top:2px;
	margin-bottom:2px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .toggle-tree-edit {
	position:absolute;
	right:0px;
	top:-30px;
	text-decoration:none;
	font-size:17px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .trigger-remove {
	text-decoration:none;
	cursor:pointer;
	color:#333;
	margin-left:2px;
	vertical-align:top;
	line-height:1.1em;
	position: relative;
	left: -25px;
	display:none;
	background:#fff;
}

.cb-content .configbox-mainmenu .product-tree-wrapper.shows-edit-buttons .trigger-remove {
	display:inline-block;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .trigger-remove:before {
	font-family:FontAwesome;
	content:"\f057";
}

.cb-content .configbox-mainmenu .product-tree-wrapper .trigger-remove.processing {
	animation: fa-spin 2s infinite linear;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .trigger-remove.processing:before {
	font-family:FontAwesome;
	content:"\f110";
}

.cb-content .configbox-mainmenu .product-tree-wrapper .trigger-copy {
	text-decoration:none;
	cursor:pointer;
	color:#333;
	margin-left:2px;
	vertical-align:top;
	line-height:1.1em;
	display:none;
}

.cb-content .configbox-mainmenu .product-tree-wrapper.shows-edit-buttons .trigger-copy {
	display:none;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .trigger-copy:before {
	font-family:FontAwesome;
	content:"\f0c5";
	font-size:12px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .trigger-copy.processing {
	animation: fa-spin 2s infinite linear;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .trigger-copy.processing:before {
	font-family:FontAwesome;
	content:"\f110";
}

.cb-content .configbox-mainmenu .product-tree-wrapper .toggle-tree-edit:before {
	font-family:FontAwesome;
	content:'\f013';
	color:#333;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .toggle-tree-edit.active:before {
	color:#025A8D;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .edit-link {
	color:#333;
	text-decoration:none;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .inactive>.edit-link {
	color:#ccc;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .add-item {
	margin-top:-1px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .add-link {
	color:#333;
	text-decoration:none;
	display:inline-block;
	line-height:1.2em;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .answer-list {
	padding-left:35px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .sub-list {
	display:none;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .sub-list.list-opened {
	display:block;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .edit-link {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:inline-block;
	margin:0px;
	padding:0px;
	line-height:1.1em;
	vertical-align:top;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .product-item > div > .edit-link {
	width:calc(100% - 5px);
}

.cb-content .configbox-mainmenu .product-tree-wrapper .page-item > div > .edit-link {
	width:calc(100% - 5px);
}

.cb-content .configbox-mainmenu .product-tree-wrapper .question-item > div > .edit-link {
	width:calc(100% - 5px);
}

.cb-content .configbox-mainmenu .product-tree-wrapper .sub-list-trigger {
	float:left;
	margin-right:4px;
	vertical-align:top;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .sub-list-trigger.has-sub-list:before {
	font-family:FontAwesome;
	content:'\f055';
	display:inline-block;
	width:13px;
	color:#333;
	line-height:1.1em;
	vertical-align:top;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .sub-list-trigger.no-sub-list:before {
	font-family:FontAwesome;
	content:'\f055';
	display:inline-block;
	width:13px;
	color:#333;
	line-height:1.1em;
	vertical-align:top;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .question-title.sub-list-trigger:before {
	content:'\f111';
}

.cb-content .configbox-mainmenu .product-tree-wrapper .add-link:before {
	font-family:FontAwesome;
	content:'\f067';
	display:inline-block;
	width:17px;
	padding-left:1px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .sub-list-trigger.trigger-opened:before {
	font-family:FontAwesome;
	content:'\f056';
}

.cb-content .configbox-mainmenu .product-tree-wrapper .answer-list {
	padding-left:20px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .answer-list .edit-link:before {
	font-family:FontAwesome;
	content:'\f111';
	display:inline-block;
	width:19px;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .kenedo-view {
	background:none;
	padding:0px;
	font-size: inherit;
	position:relative;
}

.cb-content .configbox-mainmenu .product-tree-wrapper li.active>div>.edit-link,
.cb-content .configbox-mainmenu .product-tree-wrapper li.active>.add-link {
	font-weight:bold;
}

.cb-content .configbox-mainmenu .product-tree-wrapper.shows-edit-buttons .trigger-copy {
	display:inline-block;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .trigger-edit {

}

.cb-content .configbox-mainmenu .product-tree-wrapper .trigger-copy {
	text-decoration: none;
	cursor: pointer;
	color: #333;
	margin-left: 2px;
	vertical-align: top;
	line-height: 1.1em;
	position: relative;
	left: -40px;
	display: none;
	background:#fff;
}

.cb-content .configbox-mainmenu .product-tree-wrapper .trigger-remove {
	left: -40px;
}

#view-adminbcproducttree .trigger-copy:before {
	content:"\f0c5";
	font-family:FontAwesome;
}

.row-parameter-picker .kenedo-popup-content-inner,
.column-parameter-picker .kenedo-popup-content-inner {
	overflow:auto;
	max-height:500px
}

.view-item-picker ul {
	list-style:none;
	padding-left:14px;
	margin-left:0;
}

.view-item-picker ul.product-list {
	padding-left:0px;
}

.view-item-picker li {
	cursor:pointer;
	margin-top:2px;
	margin-bottom:2px;
}

.view-item-picker .sub-list-trigger:before {
	font-family:FontAwesome;
	content:'\f055';
	display:inline-block;
	width:10px;
}

.view-item-picker .sub-list-trigger.trigger-opened:before {
	font-family:FontAwesome;
	content:'\f056';
}

.view-item-picker .sub-list {
	display:none;
}

.view-item-picker .sub-list.list-opened {
	display:block;
}

.view-item-picker .picker-link {
	color:#000;
	text-decoration:none;
}


.view-admincalcmatrix {
	background:#fff;
	padding:0px!important;
}

.view-admincalcmatrix .matrix-wrapper-table {
	border-collapse: collapse;
	font-size:inherit;
}

.view-admincalcmatrix .calc-matrix {
	border-collapse: collapse;
}

.view-admincalcmatrix .calc-matrix th,
.view-admincalcmatrix .calc-matrix td {
	border:1px solid #ccc;
	font-size:inherit;
	height: 25px
}

.view-admincalcmatrix .calc-matrix th {
	background:#eee;
	padding:0px;
	text-align:left;
}

.view-admincalcmatrix .calc-matrix td {
	padding:0;
	min-width:40px;
	text-align:right;
	background:#fff;
}

.view-admincalcmatrix .calc-matrix .column-sort-handle,
.view-admincalcmatrix .calc-matrix .row-sort-handle {
	width:10px;
	margin-left:7px;
	display:none;
	position: relative;
	top: 1px;
}

.view-admincalcmatrix .calc-matrix .column-sort-handle {
	transform: rotate(90deg);
}

.dragtable-drag-wrapper {
	position: absolute;
	z-index: 1000;
}

.dragtable-drag-wrapper .dragtable-drag-col {
	opacity: 0.7;
}

.dragtable-col-placeholder {
	color:#efefef;
}

.dragtable-col-placeholder th {
	background:#eee;
}

.dragtable-col-placeholder td {
	background:#fff;
	padding-top:5px;

}

.dragtable-drag-wrapper td {
	padding-bottom:0px!important;
}

.dragtable-col-placeholder * {
	opacity: 0.0;
	visibility: hidden;
}

.view-admincalcmatrix .calc-matrix .ui-state-highlight {
	height:30px;
}

.view-admincalcmatrix .calc-matrix .ui-sortable-helper td {
	padding-left:20px;
}

.view-admincalcmatrix .calc-matrix .trigger-remove {
	cursor:pointer;
	position: relative;
	top: 1px;
}

.view-admincalcmatrix .calc-matrix .trigger-remove:before {
	font-family:FontAwesome;
	content:'\f00d';
	padding-right:5px;
	display:none;
}

.view-admincalcmatrix .calc-matrix .toggle-matrix-tools {
	color:#333;
	cursor:pointer;
	text-decoration:none;
}

.view-admincalcmatrix .calc-matrix .toggle-matrix-tools.active {
	color:#0B55C4;
	cursor:pointer;
}

.view-admincalcmatrix .calc-matrix .toggle-matrix-tools:before {
	font-family:FontAwesome;
	content:'\f013';
	margin-left:5px;
	margin-right:5px;
}

.view-admincalcmatrix .show-matrix-tools .calc-matrix .column-sort-handle,
.view-admincalcmatrix .show-matrix-tools .calc-matrix .row-sort-handle,
.view-admincalcmatrix .show-matrix-tools .trigger-remove:before {
	display:inline-block;
}

.view-admincalcmatrix #property-name-matrix select {
	width:auto;
}

.view-admincalcmatrix #property-name-row_type,
.view-admincalcmatrix #property-name-column_type,
.view-admincalcmatrix #property-name-column_element_id,
.view-admincalcmatrix #property-name-column_calc_id,
.view-admincalcmatrix #property-name-row_element_id,
.view-admincalcmatrix #property-name-row_calc_id {
	display:none;
}

.view-admincalcmatrix .calc-matrix .input-value {
	width: 50px;
	border: 0;
	background: #eee;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	height: 24px;
	margin: 0;
	padding:2px 3px;
	display:inline-block;
}

.view-admincalcmatrix .calc-matrix .missing-value .input-value {
	background: #ff0000;
}

.view-admincalcmatrix .calc-matrix .duplicate-value .input-value {
	background: #ff0000;
}

.dragtable-drag-wrapper .price,
.view-admincalcmatrix .calc-matrix .price {
	width: 50px;
	border:none;
	text-align:right;
	font-weight:normal;
	font-size: 14px;
	line-height: 24px;
	height: 24px;
	margin: 0;
	padding:2px 3px;
	display:inline-block;
	background:transparent;
}

.view-admincalcmatrix .cell-column-parameter {
	text-align:center;
	padding-bottom:5px;
	vertical-align: bottom;
}

.view-admincalcmatrix .cell-row-parameter {
	width:100px;
	text-align:right;
	padding-right:5px;
}

.view-admincalcmatrix .cell-column-parameter .kenedo-popup-trigger-content,
.view-admincalcmatrix .cell-row-parameter .kenedo-popup-trigger-content {
	color:#0B55C4;
}

.view-admincalcmatrix .column-parameter,
.view-admincalcmatrix .row-parameter {
	white-space: nowrap;
}

.view-admincalcmatrix .column-parameter select,
.view-admincalcmatrix .row-parameter select {
	border:none;
	box-shadow:none;
	background-color:#eee;
	padding-right:20px;
	width:auto;
}

.view-admincalcmatrix .cell-trigger-add-column {
	text-align:left;
	padding-left:5px;
}

.view-admincalcmatrix .cell-trigger-add-row {
	text-align:center;
	padding-top:5px;
}

.view-admincalcmatrix .trigger-add-column,
.view-admincalcmatrix .trigger-add-row {
	cursor:pointer;
	font-size:20px;
}

.view-admincalcmatrix .trigger-add-column:hover,
.view-admincalcmatrix .trigger-add-row:hover {
	text-decoration:none;
}

.view-admincalcmatrix .trigger-add-column:before,
.view-admincalcmatrix .trigger-add-row:before {
	font-family:FontAwesome;
	content:'\f055';
}

.view-admincalcmatrix .calc-matrix td.flash {
	animation: cb-matrix-value-flash 1.5s forwards linear normal;
}

@keyframes cb-matrix-value-flash {
	0% {
		background:transparent;
	}
	4% {
		background:#dff0d8;
	}
	100% {
		background:transparent;
	}
}

.view-admincalcmatrix .calc-matrix .input-value.flash {
	animation: cb-matrix-input-value-flash 1.5s forwards linear normal;
}

@keyframes cb-matrix-input-value-flash {
	0% {
		background:#eee;
	}
	4% {
		background:#dff0d8;
	}
	100% {
		background:#eee;
	}
}

/* Part of the calculation matrix */

.axis-parameter-picker {
	width:300px;
	background:#fff;
	padding-bottom:10px;
	font-size:13px;
}

.axis-parameter-picker .tab {
	display:inline-block;
	padding:3px 10px;
	border:1px solid #ccc;
	cursor:pointer;
}

.axis-parameter-picker .tab-open {
	font-weight:bold;
	border-color:#000;
}

.axis-parameter-picker .pane {
	display:none;
	padding-top:10px;
}

.axis-parameter-picker .pane.pane-open {
	display:block;
}

.axis-parameter-picker .view-item-picker .answer-list {
	display:none;
}

.axis-parameter-picker .view-item-picker .question-item .sub-list-trigger {
	display:none;
}

.axis-parameter-picker .view-item-picker .question-item:hover {
	text-decoration:underline;
}

#view-adminoptionassignment .xref-data>h2,
#view-adminoptionassignment .option-data>h2{
	font-size:20px;
}


/* BACKEND - END */

.cb-content #view-rfq .step-title {
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	padding-bottom: 3px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.cb-content #view-rfq .field-comment label {
	vertical-align: top;
	display: inline-block;
	width: 120px;
	margin: 0px;
	margin-right: 5px;
	text-align: right;
	font-size: 1em;
	line-height: 1.6em;
	padding-top: 4px;
}

.cb-content #view-rfq .field-comment .form-field {
	display:inline-block;
}

.cb-content #view-rfq .buttons {
	margin-left:130px;
}

.cb-content #view-rfq .buttons .btn {
	margin-bottom:5px;
}

@media (max-width:424px) {
	.cb-content #view-rfq .field-comment label {
		text-align:left;
		display:block;
	}
	.cb-content #view-rfq .buttons {
		margin-left:0px;
	}
}

.cb-content #view-rfq .loading-indicator {
	display:none;
}

.cb-content #view-saveorder .customer-form-section-billing .customer-form-section-heading {
	display:none;
}

.cb-content #view-saveorder .buttons {
	margin-left:130px;
}



.property-type-groupPrice .price-override {
	margin:10px 0;
}

.property-type-groupPrice>.property-label {
	display:none;
}

.property-type-groupPrice .group-picker {
	display:none;
}

.property-type-groupPrice .trigger-remove-price-override {
	text-transform: lowercase;
}

.property-type-groupPrice .call-pick-group {
	font-weight:bold;
	margin-bottom:5px;
}

.property-type-groupPrice .trigger-add-price-override {
	display:block;
	margin-bottom:5px;
}

.property-type-groupPrice .trigger-add-price-override.used-already {
	display:none;
}

.property-type-groupPrice .trigger-show-group-picker {

}

.property-type-groupPrice .trigger-cancel-group-picker {
	display:none;
}

.property-type-groupPrice .price-override-blueprint {
	display:none;
}



.property-type-calculationOverride .price-override {
	margin:10px 0;
}

.property-type-calculationOverride>.property-label {
	display:none;
}

.property-type-calculationOverride .group-picker {
	display:none;
}

.property-type-calculationOverride .trigger-remove-price-override {
	text-transform: lowercase;
}

.property-type-calculationOverride .call-pick-group {
	font-weight:bold;
	margin-bottom:5px;
}

.property-type-calculationOverride .trigger-add-price-override {
	display:block;
	margin-bottom:5px;
}

.property-type-calculationOverride .trigger-add-price-override.used-already {
	display:none;
}

.property-type-calculationOverride .trigger-show-group-picker {

}

.property-type-calculationOverride .trigger-cancel-group-picker {
	display:none;
}

.property-type-calculationOverride .price-override-blueprint {
	display:none;
}

.property-type-calculationOverride .chosen-calculation {
	width: calc(100% - 100px)!important;
}
