@CHARSET "UTF-8";

/* Joomla admin CSS changes - START */
#submenu-box {
	display:none;
}

#element-box div.t,
#element-box div.b {
	display:none!important;
}

div#element-box div.m {
	padding: 0px!important;
	border:none!important;
	background:none;
}

/* Joomla admin CSS changes - END */

/* Magento admin CSS changes - START */

.configbox-admin-index {
	min-width:1172px;
}

.configbox-admin-index .middle {
	background-color: #f6f6f7;
	background-image:none;
}

/* Magento admin CSS changes - END */

/* GENERAL STYLING - START */

.cb-clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.ui-tooltip {
	background:#fff;
	box-shadow: 0 0 60px 1px rgba(50,50,50,.15);
	border:none;
	border-radius:5px;
}

.ui-tooltip .arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}

.ui-tooltip .arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ui-tooltip, .arrow:after {
	background: #fff;
}

#com_configbox legend {
	height:auto;
	visibility:visible;
}

#com_configbox form {
	padding:0px;
	margin:0px;
}

#com_configbox input {
	float:none;
	margin:0px;
}

#com_configbox th {
	border:none;
	background:none;
	color:inherit;
	padding:0px;
	text-align:left;
}

#com_configbox td {
	border:none;
	background:none;
	padding:0px;
}

#com_configbox legend {
	width:auto;
	margin:0px;
	padding:0px 5px;
	border:none;
	background:none;
	font-size:inherit;
}

#com_configbox a {
	cursor:pointer;
}

#com_configbox a img {
	border: none;
}

#com_configbox ul li {
	padding-left:0px;
}

#com_configbox fieldset {
	border:1px solid #ccc;
	padding:5px;
	margin-top:10px;
	margin-bottom:10px;
}

#com_configbox label {
	display:inline;
}

.configbox-heading {
	min-height:60px;
}

.configbox-heading .configbox-logo {
	background:url('../images/configbox-logo.png') no-repeat center center;
	background-size:250px auto;
	width:280px;
	height:45px;
	float:left;
}

.configbox-heading .right-part {
	float:right;
	margin-right:22px;
	text-align:right;
}

.configbox-heading .right-part div {
	line-height:16px;
}

/* GENERAL STYLING - END */


/* CONVENIENCE CLASSES - START */

table.sans-border {
	border-collapse: collapse;
}

table.sans-border th,
table.sans-border td {
	border:none;
}

table.sans-padding th,
table.sans-padding td {
	padding:0px;
}

.configbox-block .floatright,
#com_configbox .floatright {
	float:right;
}

.configbox-block .floatleft,
#com_configbox .floatleft {
	float:left;
}

.configbox-block .clearright,
#com_configbox .clearright {
	clear:right;
}

.configbox-block .clearleft,
#com_configbox .clearleft {
	clear:left;
}

.configbox-block .clear,
#com_configbox .clear {
	clear:both;
}

/* CONVENIENCE CLASSES - END */


/* BUTTONS - START */

.configbox-block .button-frontend-small,
#com_configbox .button-frontend-small,
.configbox-block .button-small,
#com_configbox .button-small {
	border:1px solid #ccc;
	padding:5px 8px;
	text-decoration:none;
	white-space:nowrap;
	color:#333;
	border-radius:0px;
	font-weight:normal;
	box-shadow: 0 1px 0 #fff;
	cursor:pointer;
	display:inline-block;
	background: rgb(248,248,248);
	background: -moz-linear-gradient(top,  rgb(248,248,248) 0%, rgb(246,246,246) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(248,248,248)), color-stop(100%,rgb(246,246,246)));
	background: -webkit-linear-gradient(top,  rgb(248,248,248) 0%,rgb(246,246,246) 100%);
	background: -o-linear-gradient(top,  rgb(248,248,248) 0%,rgb(246,246,246) 100%);
	background: -ms-linear-gradient(top,  rgb(248,248,248) 0%,rgb(246,246,246) 100%);
	background: linear-gradient(to bottom,  rgb(248,248,248) 0%,rgb(246,246,246) 100%);

}

.configbox-block .button-frontend-small:hover,
#com_configbox .button-frontend-small:hover,
.configbox-block .button-small:hover,
#com_configbox .button-small:hover {
	text-decoration:none;
	border:1px solid #777;
}

.configbox-block input.button-frontend-small,
#com_configbox input.button-frontend-small,
.configbox-block input.button-small,
#com_configbox input.button-small {
	padding:0px 8px 0px 8px;
	color:#333;
	font-size:1em;
	line-height: 1.7em;
}

.button-frontend-small .kenedo-popup-trigger-content a {
	color:#333;
}

.button-frontend-small .kenedo-popup-trigger-content a:hover {
	text-decoration:none;
}

.configbox-block input.lightinput,
#com_configbox input.lightinput {
	border:1px solid #ccc;
	padding:5px 1px 4px;
}

.configbox-block a.navbutton-medium,
#com_configbox a.navbutton-medium {
	display:block;
	min-width:110px;
	max-width:160px;
	min-height:45px;
	text-align:center;
	border:1px solid #ccc;
	background: #f6f6f6;
	padding:8px 8px 10px 8px;
	text-decoration:none;
	font-size:18px;
	margin-left:5px;
	margin-bottom:5px;
	line-height:1em;
	box-shadow: 0 1px 0 #fff;
}

.configbox-block a.navbutton-medium.leftmost,
#com_configbox a.navbutton-medium.leftmost {
	margin-left:0px;
}

.configbox-block a.navbutton-medium span,
#com_configbox a.navbutton-medium span {
	display:block;
	font-size:.8em;
	text-align:center;
}

.configbox-block a.navbutton-medium span.nav-center,
#com_configbox a.navbutton-medium span.nav-center {
	display:block;
	font-size:.8em;
	text-align:center;
	margin-top:15px;
}

.configbox-block a.navbutton-medium .nav-title,
#com_configbox a.navbutton-medium .nav-title {
	font-weight:bold;
	margin-top:3px;
}

.configbox-block a.navbutton-medium .nav-text,
#com_configbox a.navbutton-medium .nav-text {
	margin-top:5px;
	color:#666;
}

.configbox-block a.navbutton-medium:hover,
#com_configbox a.navbutton-medium:hover {
	border:1px solid #777;
}

.configbox-block a.navbutton-medium.next:hover,
#com_configbox a.navbutton-medium.next:hover {
	background:#f6f6f6 url(../images/arrow-right.png) 98%  50% no-repeat;
}

.configbox-block a.navbutton-medium.next,
#com_configbox a.navbutton-medium.next {
	background:#f6f6f6 url(../images/arrow-right-off.png) 98%  50% no-repeat;
	text-align:left;
	padding-right:40px;
}

.configbox-block a.navbutton-medium.back:hover,
#com_configbox a.navbutton-medium.back:hover {
	background:#f6f6f6 url(../images/arrow-left.png) 2% 50% no-repeat;
}

.configbox-block a.navbutton-medium.back,
#com_configbox a.navbutton-medium.back {
	background:#f6f6f6 url(../images/arrow-left-off.png) 2% 50% no-repeat;
	text-align:right;
	padding-left:40px;
}

/* BUTTONS - END */


/* PRODUCT VIEW - START */

#com_configbox #view-product {
	position:relative;
}

#com_configbox #view-product .quick-edit-buttons-product-page {
	position:absolute;
	top:5px;
	right:0px;
}

#com_configbox #view-product .quick-edit-buttons-product-page .toolbarbutton {
	float:right;
	margin-left:10px;
}

#com_configbox #view-product span.product-price {
	float:right;
	clear:right;
	margin-right:5px;
	font-size:1.1em;
	margin-top:2px;
}

#com_configbox #view-product span.product-price-recurring {
	float:right;
	clear:right;
	margin-right:5px;
	font-size:1.1em;
	margin-top:2px;
}

#com_configbox #view-product li h3 a {
	text-decoration:none;
}

#com_configbox #view-product li h3 a:hover {
	text-decoration:underline;
}

#com_configbox #view-product .product-image {
	float:left;
	margin-right:20px;
}

#com_configbox #view-product .product-description {
	margin-bottom:5px;
}

#com_configbox #view-product .button-frontend-small {
	float:right;
	display:block;
	margin-left:5px;
	margin-bottom:10px;
}

#com_configbox #view-product .product-was-price,
#com_configbox #view-product .product-was-price-recurring {
	text-decoration:line-through;
}

#com_configbox #view-product .product-detail-panes-wrapper {
	margin:15px 0px;
}

/* PRODUCT VIEW - END */


/* PRODUCT DETAIL PANES - START */

#com_configbox .product-detail-panes-type-tabs .product-detail-panes-headings {
	list-style:none;
	margin:0px;
	padding:0px;
	border-bottom:1px solid #ccc;

}

#com_configbox .product-detail-panes-type-tabs .product-detail-panes-headings:before,
#com_configbox .product-detail-panes-type-tabs .product-detail-panes-headings:after {
	display: table;
	content: " ";
	clear: both;
}

#com_configbox .product-detail-panes-type-tabs .product-detail-panes-headings .product-detail-panes-heading-item {
	display:block;
	float:left;
	position:relative;
	margin:0px 5px 0px 0px;
	box-sizing: border-box;
	margin-bottom:-1px;
}

#com_configbox .product-detail-panes-type-tabs .product-detail-panes-headings .product-detail-panes-heading-item a {
	padding:7px 10px;
	position: relative;
	display: block;
	text-align:center;
	text-decoration:none;
	color:inherit;
	border:1px solid #ccc;
	background:#f9f9f9;
	box-shadow: inset 1px 1px 0 #fff;
	cursor:pointer;
}

#com_configbox .product-detail-panes-type-tabs .product-detail-panes-headings .product-detail-panes-heading-item.active-tab a {
	background:#fff;
	border-bottom-color: transparent;
}

#com_configbox .product-detail-panes-type-tabs .product-detail-panes-headings .product-detail-panes-heading-item a:hover {
	text-decoration: none;
}

#com_configbox .product-detail-panes-type-tabs .product-detail-panes-headings img {
	vertical-align: middle;
}

#com_configbox .product-detail-panes-type-tabs .product-detail-panes-headings * {
	vertical-align: middle;
}

#com_configbox .product-detail-panes-content {
	padding:5px 10px;
	border-top:1px solid transparent;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

#com_configbox .product-detail-panes-content {
	display:none;
}

#com_configbox .product-detail-panes-content.active-pane {
	display:block;
}

/* PRODUCT DETAIL PANES - END */

/* PRODUCT LISTING VIEW - START */

#com_configbox #view-productlisting {
	position:relative;
}

#com_configbox #view-productlisting .product-listing {
	position:relative;
}

#com_configbox #view-productlisting .listing-products {
	margin:0px;
	padding:0px;
	list-style:none;
}

#com_configbox #view-productlisting .listing-product {
	margin:0px 0px 15px;
	padding:0px;
	background:none;
	clear:left;
	list-style:none;
	position:relative;
}

#com_configbox #view-productlisting .listing-product-image-wrapper {
	float:left;
	margin-right:20px;
}

#com_configbox #view-productlisting .listing-product-image-wrapper img {
	display:block;
}

#com_configbox #view-productlisting .listing-product-title {
	margin:10px 0px;
}

#com_configbox #view-productlisting .listing-was-price,
#com_configbox #view-productlisting .listing-was-price-recurring {
	text-decoration:line-through;
	float:right;
	clear:right;
	margin-right:5px;
	font-size:1.1em;
	margin-top:2px;
}

#com_configbox #view-productlisting .listing-product-price,
#com_configbox #view-productlisting .listing-product-price-recurring {
	float:right;
	clear:right;
	margin-right:5px;
	font-size:1.1em;
	margin-top:2px;
}

#com_configbox #view-productlisting .listing-product-price-recurring {
	clear:right;
}

#com_configbox #view-productlisting .listing-product-title a,
#com_configbox #view-productlisting .listing-product-title a:hover {
	text-decoration:none;
}

#com_configbox #view-productlisting .listing-product-description {
	margin-bottom:5px;
}

#com_configbox #view-productlisting .button-frontend-small {
	float:right;
	display:block;
	margin-left:5px
}

#com_configbox #view-productlisting .product-was-price,
#com_configbox #view-productlisting .product-was-price-recurring {
	text-decoration:line-through;
}

/* PRODUCT LISTING VIEW - END */



/* CONFIGURATION PAGE VIEW - START */

#com_configbox #view-configurator-page {
	position:relative;
}

#com_configbox #view-configurator-page .product-detail-panes-wrapper {
	margin:15px 0px;
}

#com_configbox #view-configurator-page .configurator-page-elements {
	margin:15px 0px;
}

#com_configbox #view-configurator-page .navigation {
	margin-top:15px;
	clear:both;
}

#com_configbox #view-configurator-page .element {
	position:relative;
}

#com_configbox #view-configurator-page .leftpart a.navbutton-medium {
	float:left;
	margin-left:0px;
	margin-right:5px;
}

#com_configbox #view-configurator-page .rightpart a.navbutton-medium {
	float:right;
	margin-left:5px;
}

#com_configbox .element .element-description-tooltip {
	position: absolute;
	top: 0px;
	right: 10px;
}

#com_configbox #view-configurator-page .element-description-tooltip .fa {
	text-decoration:none;
}

#com_configbox #view-configurator-page .configbox-disabled {
	display:none;
}

#com_configbox #view-configurator-page .property-group-layout_start ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

#com_configbox #view-configurator-page .property-group-layout_start ul b {
	display:inline-block;
	width:110px;
}


/* GENERAL TEMPLATE STYLE - START */

#com_configbox .element {
	clear:both;
}

#com_configbox .element .heading {
	position:relative;
}

#com_configbox .element .element-description-tooltip {
	position:absolute;
	top:10px;
	right:10px;
}

#com_configbox .element .element-description-tooltip .kenedo-popup-trigger-content {
	display:block;
}

#com_configbox .element .element-description-tooltip .kenedo-popup-trigger-content .fa:hover,
#com_configbox .element .element-description-tooltip .kenedo-popup-trigger-content .icon:hover {
	text-decoration:none;
}

#com_configbox .element .element-description-tooltip .kenedo-popup-trigger-content .fa:before,
#com_configbox .element .element-description-tooltip .kenedo-popup-trigger-content .icon:before {
	visibility:visible;
	font-size:18px;
	font-family:FontAwesome;
	content: "\f05a";
}

#com_configbox .element .inputfield {
	position:relative;
}

#com_configbox .element .element-image {
	float:right;
}

#com_configbox .element .choice-list,
#com_configbox .element .xref-list {
	margin:-5px 0px -5px;
	padding:0px;
	list-style:none;
}

#com_configbox .element .choice-item,
#com_configbox .element .xref {
	margin:5px 0px;
	padding:0px;
	background:none;
}

#com_configbox .element.type-checkbox .xref {
	margin:0px;
}

.configbox-widget-wrapper {
	display:inline;
}

#com_configbox .element .xref {
	position:relative;
}

#com_configbox .element .configbox-choice-free-field,
#com_configbox .element .configbox-label {
	margin-left:5px;
	margin-bottom:0px;
}

#com_configbox .element .configbox-label-text {
	margin-right:5px;
}

#com_configbox .element .configbox-label-select {
	margin-left:0px;
}

#com_configbox .element.widget-text textarea {
	vertical-align:top;
}

#com_configbox .element.template-select .configbox-label-select {
	display:none;
}

#com_configbox .element.template-select .editlinktip img {
	position: relative;
	top: 4px;
}

#com_configbox .xref-description {
	display:inline-block;
}

#com_configbox .xref-reviews {
	display:inline-block;
}

#com_configbox .xref-was-price,
#com_configbox .xref-was-price-recurring {
	text-decoration:line-through;
}

/* Styling when using image pickers - START */

#com_configbox .element .image-picker {
	float:left;
	margin-right:5px;
	cursor:pointer;
}

#com_configbox .element .image-picker .configbox-control-radiobutton,
#com_configbox .element .image-picker .configbox-control-checkbox {
	display:none;
}

#com_configbox .element .image-picker .configbox-image-button-wrapper {
	border:1px solid #ccc;
	display:inline-block;
}

#com_configbox .element .image-picker.selected .configbox-image-button-wrapper {
	border-color:#000;
	background:#ccc;
}

#com_configbox .element .image-picker .configbox-image-button-image {
	display:block;
}

#com_configbox .element .image-picker .configbox-label-radiobutton {
	display:block;
}

#com_configbox .element .image-picker .option-price-wrapper,
#com_configbox .element .image-picker .option-price-recurring-wrapper {
	display:block;
}

#com_configbox .element .image-picker .position-loading-symbol {
	position:absolute;
	right:0px;
	bottom:0px;
}

/* Styling when using image pickers - END */

/* Styling for dropdown elements - START */

#com_configbox .element .configbox-dropdown-trigger {
	border:1px solid #ababab;
	padding:1px 2px;
	padding-left:5px;
	padding-right:5px;
	border-radius:4px;
	display:inline-block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,f2f2f2+51,f2f2f2+100 */
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(242,242,242,1) 51%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(242,242,242,1) 51%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(242,242,242,1) 51%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#com_configbox .element .configbox-dropdown-trigger:before {
	font-family: FontAwesome;
	content:"\f0d7";
	float:right;
	display:inline-block;
	line-height:inherit;
	color:#333;
	margin-left:10px;
	margin-right:2px;
	position:relative;
	top:1px;
}

#com_configbox .element.type-dropdown .xref-list {
	display:none;
	border:1px solid #abb3bc;
	border-radius:4px;
	padding:0px 6px;
	padding-right:30px;
	position:absolute;
	z-index:30000;
	background:#fff;
	top:0px;
	max-height:300px;
	margin:0px;
}

/* Styling for dropdown elements - END */

/* Styling for date elements - START */

#com_configbox .configbox-widget-calendar-button {
	background:url('../images/icon-datepicker.png') no-repeat;
	width:30px;
	height:32px;
	overflow:hidden;
	display:block;
	text-indent:-1000px;
	float:left;
	margin-left:5px;
	margin-right:10px;
}

#com_configbox .configbox-widget-calendar-button:hover {
	background-position:bottom left;
}

#com_configbox .configbox-widget-calendar-display {
	font-size:16px;
	line-height:32px;
	height:32px;
	cursor:pointer;
	min-width:250px;
}

/* Styling for date elements - END */

#com_configbox .element .configbox-choice-free-field {
	width:60px;
}

#com_configbox .element.widget-choices .element-price-display {
	position:absolute;
	top:10px;
	right:10px;
}

#com_configbox .element.widget-choices .position-loading-symbol {
	position:absolute;
	top:50px;
	right:10px;
	display:none!important;
}

#com_configbox .element.widget-choices .validation-feedback {
	position:absolute;
	top:30px;
	right:10px;
}

#com_configbox .element.type-dropdown .position-loading-symbol {
	position:absolute;
	right:-20px;
	bottom:0px;
}

#com_configbox .widget-slider .position-loading-symbol {
	position:absolute;
	top:10px;
	right:10px;
}

/* Styling for the validation message - This element is should initially be hidden */
#com_configbox .element .display_validation {
	display:none;
	padding-left:5px;
	padding-right:5px;
}

#com_configbox .element .position-loading-symbol {
	display:none;
}

#com_configbox .element .position-loading-symbol .wheel:before {
	font-family:FontAwesome;
	content: "\f110";

	-webkit-animation: fa-spin 1s infinite linear;
	-moz-animation: fa-spin 2s infinite linear;
	-o-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;

	-webkit-font-smoothing: antialiased;
	/*noinspection CssUnknownProperty*/
	-moz-osx-font-smoothing: grayscale;

	display:inline-block;
	line-height:1em;
}

/* Styling for non-applying elements */
#com_configbox .element.element-not-applying {
	color:#ccc;
}

#com_configbox .element-not-applying.hide-not-applying,
#com_configbox .xref-not-applying.hide-not-applying {
	display:none;
}


/* Styling for non-applying answers */
#com_configbox .element .xref-not-applying,
#com_configbox .element .xref-not-applying a,
#com_configbox .element .xref-not-applying label span {
	color:#ccc!important;
}

/* Styling for non-available answers */
#com_configbox .element .not-available,
#com_configbox .element .not-available a,
#com_configbox .element .not-available label span {
	color:#ccc!important;
}

#com_configbox .element .availibility-green {
	display:none;
}

/* GENERAL TEMPLATE STYLE - END */


/* COMPLEMENTARY CSS CLASS STYLES */



/* COLUMN ELEMENTS - START */

#com_configbox .element.left-half {
	float:left;
	width:49%;
	clear:left;
	margin-top:0px;
}

#com_configbox .element.right-half {
	float:right;
	width:49%;
	clear:right;
	margin-top:0px;
}

/* COLUMN ELEMENTS - END */



/* JOINED ELEMENTS - START */

#com_configbox .element.joined-element-start {
	border-bottom:none;
	margin-bottom:0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

}

#com_configbox .element.joined-element-start .heading {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#com_configbox .element.joined-element {
	border-top:none;
	margin-top:0px;
	border-bottom:none;
	margin-bottom:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#com_configbox .element.joined-element-end {
	border-top:none;
	margin-top:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}

#com_configbox .element.joined-element-start.heading-only .inputfield * {
	display:none;
}

#com_configbox .element.joined-element-start.heading-only.hide-not-applying.element-not-applying {
	display:none;
}

#com_configbox .element.joined-element-start.hide-not-applying.element-not-applying {
	color:inherit;
}

#com_configbox .element.joined-element-start.hide-not-applying.element-not-applying {
	display:block;
	padding-bottom:15px;
}

#com_configbox .element.joined-element-start.hide-not-applying.element-not-applying .inputfield {
	display:none;
}

#com_configbox .element.joined-element-start.hide-not-applying.element-not-applying {
	color:inherit;
}

#com_configbox .element.joined-element-start.hide-not-applying.element-not-applying {
	display:block;
	padding-bottom:15px;
}

#com_configbox .element.joined-element-start.hide-not-applying.element-not-applying .inputfield {
	display:none;
}

#com_configbox .element.joined-element-end.hide-not-applying.element-not-applying {
	display:block;
	padding-bottom:15px;
}

#com_configbox .element.joined-element-end.hide-not-applying.element-not-applying .inputfield {
	display:none;
}


#com_configbox .element.joined-element .heading,
#com_configbox .element.joined-element-end .heading {
	display:none;
}

#com_configbox .element.joined-element-start .inputfield {
	padding-bottom:0px;
}

#com_configbox .element.joined-element .inputfield {
	padding-top:2px;
	padding-bottom:2px;
}

#com_configbox .element.joined-element-end .inputfield {
	padding-top:0px;
}

/* COLUMN JOIN ELEMENTS - END */


/* NO HEADING STYLE - START */

#com_configbox .element.no-heading .heading {
	display:none;
}

#com_configbox .element.no-heading.type-checkbox .quick-edit-buttons-element,
#com_configbox .element.no-heading.type-radio .quick-edit-buttons-element {
	top:-15px;
}

/* NO HEADING STYLE - END */

#com_configbox .element.hidden-element {
	display:none!important;
}


/* CONFIGURATION PAGE VIEW - END */


/* CART VIEW - START */

#com_configbox #view-cart .cart-positions {
	margin:10px 0px;
	border:1px solid #ccc;
	background:none;
	padding:5px 5px 7px;
}

#com_configbox #view-cart th {
	vertical-align:top;
	padding:5px;
}

#com_configbox #view-cart td {
	vertical-align:top;
	padding:5px;
}

#com_configbox #view-cart .print-link {
	float:right;
}
#com_configbox #view-cart .cart-position-item {
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}

#com_configbox #view-cart .cart-position-item:last-child {
	padding-bottom:0px;
	margin-bottom:0px;
	border-bottom:none;
}

#com_configbox #view-cart .cart-position-product-title {
	margin:5px 5px;
}

#com_configbox #view-cart .cart-position-product-image {
	float:right;
	clear:right;
	margin:5px 5px 5px 10px;
}

#com_configbox #view-cart .cart-position-configuration {
	float:left;
	margin:5px 5px 10px;
	width:auto;
	border-collapse:collapse;
}

#com_configbox #view-cart .cart-position-configuration td,
#com_configbox #view-cart .cart-position-configuration th {
	padding:0px 0px 0px;
	border:none;
}
#com_configbox #view-cart .cart-position-configuration .element-list-total-unit-price td {
	padding-top:2px;
	border-top:1px solid #ccc;
}

#com_configbox #view-cart .cart-position-configuration .element-list-total td {
	padding-top:2px;
	font-weight:bold;
	border-top:1px solid #ccc;
}

#com_configbox #view-cart .cart-position-configuration th.selection-list-item,
#com_configbox #view-cart .cart-position-configuration th.element-list-price-recurring,
#com_configbox #view-cart .cart-position-configuration th.element-list-price {
	vertical-align:bottom;
	padding-bottom:5px;
}

#com_configbox #view-cart .cart-position-configuration .selection-list-item {
	text-align:left;
	padding-right:10px;
}

#com_configbox #view-cart .cart-position-configuration .element-list-price-recurring,
#com_configbox #view-cart .cart-position-configuration .element-list-price {
	text-align:right;
	padding-left:10px;
	width:90px;
	vertical-align:top;
	white-space:nowrap;
}

#com_configbox #view-cart .cart-position-configuration .element-output-value {
	font-weight:bold;
}

#com_configbox #view-cart .position-controls {
	text-align:right;
}

#com_configbox #view-cart .cart-position-item .label-product-quantity {
	display:inline;
}

#com_configbox #view-cart .cart-position-item input.input-product-quantity {
	display:inline;
	width:2.5em;
	height:auto;
	font-size:1em;
	text-align:right;
	border:1px solid #ccc;
	padding:5px 5px 5px;
	border-radius:2px;
	outline:none;
	margin:0px;
	position:relative;
	top:-1px;
}

#com_configbox #view-cart .cart-summary table {
	border-collapse: collapse;
	width:100%;
}

#com_configbox #view-cart .cart-summary table th,
#com_configbox #view-cart .cart-summary table td {
	border:1px solid #ccc;
	padding:3px 5px;
}

#com_configbox #view-cart .cart-summary .item-price {
	text-align:right;
	white-space:nowrap;
	width:100px;
}

#com_configbox #view-cart .cart-summary .payable-amount {
	text-align:center;
	font-weight:bold;
}

#com_configbox #view-cart .cart-summary .sub-total-merchandise,
#com_configbox #view-cart .cart-summary .grand-total {
	font-weight:bold;
}

#com_configbox #view-cart .cart-summary .tax-rate-tooltip a:hover,
#com_configbox #view-cart .cart-summary .delivery-tooltip a:hover,
#com_configbox #view-cart .cart-summary .payment-tooltip a:hover {
	text-decoration:none;
}

#com_configbox #view-cart .cart-buttons {
	margin-top:10px;
}

/* CART VIEW - END */



/* CURRENCY MODULE - START */

.block-currencies .hidden-button,
.block-currencies .hidden-label {
	display:none;
}

.block-currencies .conversion-table {
	margin-top:5px;
}

/* CURRENCY MODULE - END */


/* IMAGE MODULE - START */

.block-visualization .visualization-image {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index:1;
	overflow:hidden;
}

.block-visualization .image-type-element-image {
	width:auto;
}

.block-visualization .visualization-frame {
	position:relative;
	z-index:2;
}

/* IMAGE MODULE - END */


/* QUICKEDIT - START */

#com_configbox .quickeditwait:before {
	margin-left:5px;
	font-family:FontAwesome;
	content: "\f110";
	animation: fa-spin 2s infinite linear;
	-webkit-font-smoothing: antialiased;
	display:inline-block;
}

#com_configbox .quick-edit-buttons {
	background-image:url('../images/fff-70p.png');
	font-size:16px;
	line-height:16px;
	border-radius:2px;
	padding:5px;
	z-index:100;
}

#com_configbox .touch-no .quick-edit-buttons {
	opacity:0;
	-moz-transition-property: opacity;
	-moz-transition-duration: .5s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .5s;
	-o-transition-property: opacity;
	-o-transition-duration: .5s;
}

#com_configbox .touch-no .element:hover .quick-edit-buttons-option,
#com_configbox .touch-no .element:hover .quick-edit-buttons-element,
#com_configbox:hover .touch-no .quick-edit-buttons-product-listing-page,
#com_configbox:hover .touch-no .quick-edit-buttons-configuration-page,
#com_configbox .touch-no .listing-product:hover .quick-edit-buttons {
	opacity:1;
	-moz-transition-property: opacity;
	-moz-transition-duration: .5s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .5s;
	-o-transition-property: opacity;
	-o-transition-duration: .5s;
}

#com_configbox .touch-no .quick-edit-buttons-configuration-page .quick-edit-buttons-content .fa:before {
	margin-right:5px;
}

#com_configbox .quick-edit-buttons .toolbarbutton {
	display:inline-block;
}

#com_configbox .quick-edit-buttons a {
	display:inline-block;
	font-size:14px;
}

#com_configbox .quick-edit-buttons a:hover {
	text-decoration:none;
}

#com_configbox .quick-edit-buttons-product {
	position:absolute;
	top:0px;
	right:0px;
}

#com_configbox .quick-edit-buttons-product-listing-page {
	position:absolute;
	top:5px;
	right:0px;
	font-weight:bold;
}

#com_configbox .quick-edit-buttons-product-listing-page .fa:before {
	padding-right:3px;
}

#com_configbox .quick-edit-buttons-product .fa:before {
	padding-right:3px;
}

#com_configbox .quick-edit-buttons-configuration-page {
	position:absolute;
	top:0px;
	right:0px;
	z-index:300;
}

#com_configbox .quick-edit-buttons-element {
	position:absolute;
	top:3px;
	right:5px;
}

#com_configbox .quick-edit-buttons-option {
	position:absolute;
	top:0px;
	right:0px;
	padding:1px;
}

#com_configbox .element.type-dropdown .quick-edit-buttons-option {
	right:-30px;
	z-index:10000;
}

#com_configbox .quick-edit-buttons-configuration-page .quick-edit-buttons-content {
	display:none;
	z-index:30000;
	padding:5px;
	border-radius:10px;
}

#com_configbox .listing-products .listing-product:first-child .quick-edit-buttons-product {
	top:28px;
}

#com_configbox .quick-edit-buttons-configuration-page .quick-edit-buttons-content .toolbarbutton {
	display:block;
	margin-bottom:4px;
}

#com_configbox .image-picker .quick-edit-buttons-option {
	right:4px;
	top:4px;
}

#com_configbox .xref {
	position:relative;
}

#com_configbox .no-heading .quick-edit-buttons-element,
#com_configbox .joined-element-end .quick-edit-buttons-element,
#com_configbox .joined-element .quick-edit-buttons-element {
	padding:1px;
	top:2px;
}

#com_configbox .no-heading .quick-edit-buttons-option,
#com_configbox .joined-element-end .quick-edit-buttons-option,
#com_configbox .joined-element .quick-edit-buttons-option {
	right:50px;
	padding:1px;
}

#com_configbox .quickedit-input {
	outline:none;
	padding:0px;
}

#com_configbox .quick-edit-textfield-button {
	font-size:14px;
	position:relative;
	margin-right:4px;
}

#com_configbox .quick-edit-textarea-button {
	font-size:16px;
	position:relative;
	margin-left:10px;
	text-decoration:none;
	float:right;
}

#com_configbox .quick-edit-textarea-button .fa:before {
	padding-right:4px;
}

/* QUICKEDIT - END */


/* jQueryUI Datepicker - START */

#com_configbox .configbox-widget-calendar-display {
	border:none;
	background:none;
	font-size:1em;
	padding:0px;
	margin:0px;
}

/* jQueryUI Datepicker - END */


/* jQueryUI Slider - START */

#com_configbox .ui-slider .ui-slider-handle {
	z-index:1;
	outline:none;
}

/* jQueryUI Slider - END */

/* STYLING IMAGE UPLOAD - START */

#com_configbox .configbox-widget-fileupload-edit {
	position:relative;
}

#com_configbox .control-zoom .ui-slider-handle {
	z-index:3;
}

#com_configbox .configbox-widget-fileupload-visulization,
#com_configbox .configbox-widget-fileupload-image {
	position:absolute;
}

#com_configbox .configbox-widget-fileupload-controls {
	font-size:100%;
}

/* STYLING IMAGE UPLOAD - END */


/* CHECKOUT - START */

#com_configbox #view-checkout .wrapper-order-address {
	margin-top:20px;
	margin-bottom:20px;
}

#com_configbox #view-checkout .wrapper-order-address .order-address-block {
	float:left;
	margin-right:40px;
}

#com_configbox #view-checkout .wrapper-order-address .order-address-block-heading {
	font-weight:bold;
}

#com_configbox #view-checkout .wrapper-order-address .change-order-address-wrapper {
	margin-top:10px;
}

#com_configbox #view-checkout .wrapper-order-address .change-order-address-wrapper .fa {
	text-decoration:none;
	font-size:1.1em;
}

#com_configbox #view-checkout .wrapper-order-address .change-order-address-wrapper .fa:before {
	margin-right:3px;
}

#com_configbox #view-checkout .wrapper-order-address .order-address-section-delivery .order-address-fields {
	display:none;
}

#com_configbox #view-checkout .wrapper-order-address .show-delivery-fields .order-address-section-delivery .order-address-fields {
	display:block;
}

#com_configbox #view-checkout .wrapper-order-address .order-address-section {
	width:400px;
	float:left;
	margin-top:10px;
}

#com_configbox #view-checkout .wrapper-order-address .order-address-section-billing {
	margin-right:20px;
}

#com_configbox #view-checkout .wrapper-order-address .order-address-section-heading {
	margin-left:138px;
	margin-bottom:5px;
}

#com_configbox #view-checkout .wrapper-order-address .text-address-heading {
	font-weight:bold;
	font-size:1em;
}


#com_configbox #view-checkout .wrapper-order-address .order-address-field {
	vertical-align:top;
	margin-top:4px;
	margin-bottom:4px;
}





#com_configbox #view-checkout .wrapper-order-address .form-field label {
	position:relative;
	top:4px;
}

#com_configbox #view-checkout .wrapper-order-address .form-field input[type=radio] {
	position:relative;
	top:2px;
}



#com_configbox #view-checkout .wrapper-order-address .form-field select {
	margin:0px;
	width:230px;
	border-color:#ccc;
	border-radius:0px;
}

#com_configbox #view-checkout .wrapper-order-address .form-field textarea {
	margin:0px;
	border-width:1px;
	width:218px;
	height:auto;
	padding:3px 5px;
	font-size:1em;
	line-height:1.6em;
}

#com_configbox #view-checkout .wrapper-order-address .form-field .textfield {
	margin:0px;
	border-width:1px;
	width:218px;
	height:auto;
	padding:3px 5px;
	font-size:1em;
	line-height:1.6em;
	border-radius:0px;
}

#com_configbox #view-checkout .wrapper-order-address .form-field .chosen-container {
	width:230px!important;
}

#com_configbox #view-checkout .wrapper-order-address .radio-button-label {
	margin:0px;
	padding:0px;
	font-size:1em;
	line-height:1.6em;
	position:relative;
	top:1px;
	padding-left:2px;
	padding-right:10px;
}

#com_configbox #view-checkout .wrapper-order-address .account-exists-section,
#com_configbox #view-checkout .wrapper-order-address .checkout-login-form,
#com_configbox #view-checkout .wrapper-order-address .checkout-password-change-form {
	display:none;
}

#com_configbox #view-checkout .wrapper-order-address.with-checkout-login-form .account-exists-section,
#com_configbox #view-checkout .wrapper-order-address.with-password-change-form .account-exists-section {
	display:block;
}

#com_configbox #view-checkout .wrapper-order-address.with-checkout-login-form .checkout-login-form {
	display:block;
}

#com_configbox #view-checkout .wrapper-order-address.with-password-change-form .checkout-password-change-form {
	display:block;
}

#com_configbox #view-checkout .wrapper-order-address .account-exists-section {
	border:1px solid #ccc;
	margin-top:20px;
	margin-bottom:20px;
	padding:10px 20px;
}

#com_configbox #view-checkout .wrapper-order-address .account-exists-section .field-label {
	margin-left:-21px;
}

#com_configbox #view-checkout .wrapper-order-address .account-exists-section .checkout-login-form .buttons {
	margin-left:113px;
}

#com_configbox #view-checkout .wrapper-order-address .order-address-buttons {
	margin-left: 129px;
	margin-right:0px;
	margin-top:20px;
	margin-bottom:20px;
}

#com_configbox #view-checkout .wrapper-order-address .trigger-save-order-address {
	max-width:1000px;
	width:212px;
}

#com_configbox #view-checkout .wrapper-order-address .order-address-buttons span {
	position: relative;
	left: -0.6em;
}

#com_configbox #view-checkout .wrapper-order-address .loading-indicator {
	visibility:hidden;
	margin-right:4px;
	font-size:1.1em;
	line-height:1.1em;
	-webkit-transform-origin:50% 38%;
	transform-origin:50% 38%;
	animation: fa-spin 1.5s infinite linear;
}

#com_configbox #view-checkout .wrapper-order-address .processing .loading-indicator {
	visibility:visible;
}

#com_configbox #view-checkout .wrapper-delivery-options,
#com_configbox #view-checkout .wrapper-payment-options {
	margin:20px 0px;
}

#com_configbox #view-checkout #subview-delivery .list-options,
#com_configbox #view-checkout #subview-payment .list-options {
	list-style:none;
	margin:0px;
	padding:0px;
}

#com_configbox #view-checkout #subview-delivery .option-control,
#com_configbox #view-checkout #subview-payment .option-control {
	position:relative;
	top:-2px;
	margin-right:5px;
}

#com_configbox #view-checkout #subview-delivery .icon-option-description:before,
#com_configbox #view-checkout #subview-payment .icon-option-description:before {
	font-family:FontAwesome;
	content:'\f05a';
	font-size:1.2em;
	line-height:1.1em;
	position:relative;
	top:1px;
}

#com_configbox #view-checkout #subview-delivery .processing .processing-symbol:before,
#com_configbox #view-checkout #subview-payment .processing .processing-symbol:before {
	font-family:FontAwesome;
	content: "\f110";
	-webkit-transform-origin:49% 44%;
	-webkit-font-smoothing: antialiased;
	transform-origin:49% 44%;
	animation: fa-spin 1.5s infinite linear;
	display:inline-block;
	line-height:1em;
	font-size:14px;
	height:14px;
}

#com_configbox #view-checkout .wrapper-order-record {
	margin:20px 0px;
}

#com_configbox #view-checkout .wrapper-order-record .order-overview-table {
	width:100%;
}

#com_configbox #view-checkout .wrapper-agreements input[type="checkbox"] {
	position:relative;
	top:-2px;
}

#com_configbox #view-checkout .wrapper-psp-bridge {
	clear:both;
	margin:20px 0px;
}

#com_configbox #view-checkout .wrapper-psp-bridge .payment-form {
	float:right;
}

#com_configbox #view-checkout .trigger-place-order span {
	position: relative;
	left: -0.6em;
}

#com_configbox #view-checkout .trigger-place-order .loading-indicator {
	visibility:hidden;
	margin-right:4px;
	font-size:1.1em;
	line-height:1.1em;
	-webkit-transform-origin:50% 38%;
	animation: fa-spin 1.5s infinite linear;
}

#com_configbox #view-checkout .trigger-place-order.processing .loading-indicator {
	visibility:visible;
}

#com_configbox #view-checkout .wrapper-order-buttons {
	clear:both;
	margin:20px 0px;
}

#com_configbox #view-checkout .step-title {
	font-size:16px;
	line-height:16px;
	font-weight:normal;
	border-bottom:1px solid #ccc;
	padding-bottom:3px;
	margin-top:20px;
	margin-bottom:10px;
}

#com_configbox #view-checkout .payment-form .payment-feedback {
	display:none;
}

#com_configbox #view-checkout .payment-form .form-item {
	margin-bottom:4px;
}

#com_configbox #view-checkout .payment-form label {
	display:block;
	margin:0px;
}

#com_configbox #view-checkout .payment-form input[type="text"] {
	width:164px;
}

#com_configbox #view-checkout .payment-form .input-card-expiry-month {
	display:inline-block;
	width:60px;
	margin-right:15px;
}

#com_configbox #view-checkout .payment-form .input-card-expiry-year {
	display:inline-block;
	width:90px;
}

#com_configbox #view-checkout .payment-form .form-item.invalid input[type="text"] {
	border-color:red;
}

#com_configbox #view-checkout .payment-form .form-item.invalid label {
	color:red;
}

#com_configbox #view-checkout .payment-form .form-item.invalid select {
	border-color:red;
}

#com_configbox #view-checkout .payment-form .form-buttons {
	margin-top:10px;
}

#com_configbox #view-checkout .trigger-capture-payment.processing .nav-center:after {
	font-family:FontAwesome;
	content: "\f110";
	animation: fa-spin 2s infinite linear;
	-webkit-font-smoothing: antialiased;
	display:inline-block;
	font-size:1.2em;
	line-height:1em;
	margin-left:5px;
}

/* CHECKOUT - END */

/* User view */

#com_configbox #view-user #deliveryinfo,
#com_configbox #view-user #billinginfo {
	position:relative;
}

#com_configbox #view-user .edit-profile {
	position:absolute;
	top:20px;
	right:7px;
}

#com_configbox #view-user th,
#com_configbox #view-user td {
	padding:4px;
}

#com_configbox #view-user .table-orders .order-total {
	text-align:right;
	white-space: nowrap;
}

#com_configbox #view-user #deliveryinfo {
	width:270px;
}

#com_configbox #view-user #billinginfo {
	width:270px;
}

#com_configbox #view-user #orderhistory {
	margin-top:10px;
	width:592px;
}

#com_configbox #view-user #addressinfo table td {
	padding:0px 3px;
}

#com_configbox #view-user #addressinfo table td.key {
	font-weight:bold;
	text-align:right;
}

#com_configbox #view-user fieldset#deliveryinfo h4,
#com_configbox #view-user fieldset#billinginfo h4 {
	margin-top:0px;
}

#com_configbox #view-user fieldset#deliveryinfo {
	float:left;
	border:1px solid #ccc;
	padding:10px;
}

#com_configbox #view-user fieldset#billinginfo {
	float:left;
	margin-right:30px;
	border:1px solid #ccc;
	padding:10px;
}

#com_configbox #view-user #orderhistory {
	border:1px solid #ccc;
	padding:10px;
}

#com_configbox #view-user #buttons a {
	display:inline-block;
}

#com_configbox #view-user .table-orders th,
#com_configbox #view-user .table-orders td {
	padding:1px 10px 1px 1px;
}

#com_configbox #view-user .table-orders .orders-id,
#com_configbox #view-user .table-orders .orders-total {
	text-align:right;
	white-space:nowrap;
}

#com_configbox #view-user .table-orders .orders-actions a {
	padding-right:10px;
}

#com_configbox #view-confirmation .print-link {
	float:right;
}

#com_configbox #view-confirmation h2,
#com_configbox #view-userorder h2 {
	margin-top:10px;
	margin-bottom:10px;
	font-size:1.5em;
}

#com_configbox #view-userorder h3 {
	margin:0px;
	margin-bottom:10px;
	font-size:1em;
	line-height:1em;
	font-weight:bold;
}

#com_configbox #view-userorder .subsection-title {
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	padding-bottom: 3px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#com_configbox #view-userorder .order-address-block-heading {
	font-weight: bold;
}

#com_configbox #view-userorder .order-overview-table {
	width: 100%;
}

#com_configbox #view-userorder .buttons {
	margin:25px 0px 10px;
}

#com_configbox #view-confirmation .back {
	float:left;
	margin-left:0px
}

#com_configbox .order-address {
	float:left;
	margin-right:20px;
	min-width:240px;
}

#com_configbox .order-address .addresses {
	border:1px solid #ccc;
	padding:10px 10px;
	margin:10px 0px;
	position:relative;
}

#com_configbox .order-address .trigger-change-order-address {
	position:absolute;
	top:8px;
	right:10px;
}

#com_configbox .order-address-table {
	border-collapse:collapse;
	width:auto;
}

#com_configbox .order-address .order-address-table td {
	padding:0px 3px;
}

#com_configbox .order-address .order-address-heading {
	margin-top:0px;
	margin-bottom:5px;
	font-size:1em;
	font-weight:bold;
	margin-left:3px;
	line-height:1em;
}

#com_configbox .order-address table td.key {
	text-align:left;
}

#com_configbox .order-address-billing {
	float:left;
}

#com_configbox .order-address-delivery {
	margin-left:30px;
	float:left;
}

#com_configbox .products-overview .positions {
	margin:10px 0px;
}

#com_configbox .products-overview .position {
	float:left;
	margin-right:50px;
}

#com_configbox .products-overview .position-configuration {
	float:left;
}

#com_configbox .products-overview .element-title {
	display:inline-block;
	min-width:120px;
}

#com_configbox .order-overview-wrapper {
	float:left;
}

#com_configbox .order-overview {
	margin-bottom:10px;
}

#com_configbox .order-overview .dispatch-time-notice {
	margin:5px;
	padding-left:8px;
}

#com_configbox .order-overview table {
	border-collapse:collapse;
}

#com_configbox .order-overview th {
	padding:3px 5px;
	border:1px solid #ccc;
}

#com_configbox .order-overview td {
	padding:3px 5px;
	border:1px solid #ccc;
}

#com_configbox .order-overview .item-name {
	padding-left:12px;
}

#com_configbox .order-overview .delivery-title,
#com_configbox .order-overview .payment-title {
	font-weight:bold;
}

#com_configbox .order-overview .item-price {
	text-align:right;
	white-space:nowrap;
}

#com_configbox .order-overview .grand-total,
#com_configbox .order-overview .sub-total-merchandise {
	font-weight:bold;
}

#com_configbox .price-field {
	text-align:right;
}

#com_configbox .kenedo-popup .position-record {
	float:left;
}

#com_configbox .kenedo-popup .position-details .position-image {
	margin-left:20px;
	margin-top:40px;
	float:right;
}

#com_configbox .position-details .position-image img {
	display:block;
}

#com_configbox .position-details .position-product-title {
	font-weight:bold;
	font-size:1.2em;
	margin-bottom:0px;
}

#com_configbox .position-details .position-product-sku {
	color:#ccc;
	margin-bottom:0px;
}

#com_configbox .position-details .position-configuration {
	margin-top:5px;
}

#com_configbox .position-details .position-element-sku {
	max-width:90px;
	word-break:break-all;
}

#com_configbox .position-selection-table {
	width:auto;
	border-collapse: collapse;
}

#com_configbox .position-selection-table th {
	padding:3px 5px;
	border:1px solid #ccc;
}

#com_configbox .position-selection-table td {
	padding:3px 5px;
	border:1px solid #ccc;
}

#com_configbox .position-details .position-element-title {
	border-right:none;
}

#com_configbox .position-details .position-element-title:after {
	content: ':';
}

#com_configbox .position-details .position-element-output-value {
	border-left:none;
}

#com_configbox .position-details .position-total {
	font-weight:bold;

}

#com_configbox .position-details .price-field {
	white-space:nowrap;
}

#com_configbox .orderprice {
	float:right;
}

#com_configbox .orderprice span {
	float:right;
	clear:right;
}

#com_configbox .ordertitle {
	margin-top:0px;
	margin-bottom:5px;
}

#com_configbox #view-confirmation .order-payment-system .navbutton-medium.next {
	float:right;
}

#com_configbox #view-confirmation .terms-and-conditions {
	float:left;
}

#com_configbox #view-confirmation .terms-and-conditions .checks {
	margin-top:10px;
	margin-bottom:10px;
	border:1px solid #ccc;
	padding:10px;
}

#com_configbox #view-confirmation .confirmation-checkboxes {
	margin-top:10px;
}

#com_configbox #view-confirmation .terms-and-conditions .checks label {
	padding-left:0px;
}

#com_configbox #view-confirmation .order-overview {
	background:#eee;
}

#com_configbox #view-confirmation #creditcard table td {
	padding-left:3px;
}

#com_configbox #view-confirmation #creditcard table td.key {
	text-align:right;
	font-weight:bold;
}

#com_configbox #view-confirmation #delivery .price,
#com_configbox #view-confirmation #payment .price {
	float:right;
	font-size:1.0em;
	margin-right:10px;
	text-align:right;
}

#com_configbox #view-confirmation #order {
	border:1px solid #333;
}

#com_configbox #view-confirmation #order,
#com_configbox #view-confirmation #order legend {
	background:#eee;
}

#com_configbox #view-confirmation .totals-table {
	border-color:#eee;
}

#com_configbox #view-confirmation .totals-table th,
#com_configbox #view-confirmation .totals-table td {
	padding:3px 5px;
	vertical-align:top;
	text-align:left;
}

#com_configbox #view-confirmation .totals-table .price,
#com_configbox #view-confirmation .totals-table .price-net,
#com_configbox #view-confirmation .totals-table .price-tax,
#com_configbox #view-confirmation .totals-table .price-gross {
	text-align:right;
}

#com_configbox #view-confirmation .orderprice {
	float:right;
	width:150px;
}

#com_configbox #view-confirmation .orderprice h4 {
	margin-bottom:5px;
	margin-top:0px;
}

#com_configbox #view-confirmation .orderprice-recurring {
	float:right;
	margin-top:5px;
	margin-right:10px;
}

#com_configbox #view-confirmation .orderprice .price-label {
	text-align:right;
	margin-top:0px;
	font-size:1.2em;
}

#com_configbox #view-confirmation .orderprice-recurring {
	margin-right:20px;
}

#com_configbox #view-confirmation .orderprice .gross,
#com_configbox #view-confirmation .orderprice .tax,
#com_configbox #view-confirmation .orderprice .net {
	float:right;
	clear:right;
}

#com_configbox #view-confirmation .bold {
	font-weight:bold;
}

#com_configbox #view-confirmation .elementlist {
	float:left;
	margin-top:0px;
	list-style:none;
}

#com_configbox #view-confirmation .itemprice {
	padding-left:0px;
}

#com_configbox #view-confirmation .cart-totals h3 {
	margin:.4em 0px;
	text-align:center;
}

#com_configbox #view-confirmation .cart-totals p {
	margin:.2em 0px;
	text-align:center;
	font-size:1.2em;
}

#com_configbox #view-confirmation .with-recurring .cart-total {
	float:left;
	width:48%;
}

#com_configbox #view-confirmation .with-recurring .cart-total-recurring {
	float:right;
	width:48%;
}

#com_configbox #view-confirmation .download-contract {
	padding-left:25px;
}


/* CONFIGBOX BACKEND - START */

#view-admindashboard .left-part {
	float:left;
	margin-right:15px;
	width:435px;
}

#view-admindashboard .right-part {
	float:left;
	width:350px;
}

#view-admindashboard .software-update p {
	margin:0px;
}

#view-admindashboard .news {
	background:#fff;
	border-radius:5px;
	padding:10px;
	height:600px;
	overflow:hidden;
	margin-bottom:20px;
	position:relative;
}

#view-admindashboard .right-part .overflow-gradient {
	background:url('../images/news-box-gradient.png') bottom left repeat-x;
	height:20px;
	margin-top:-41px;
	position:relative;
	z-index:2000;
	margin-left:1px;
	width:320px;
}

#view-admindashboard .news-target {
	width:320px;
}

#view-admindashboard .news:hover {
	overflow:auto;
}

#view-admindashboard .news h2 {
	margin-top:5px;
}

#view-admindashboard .box {
	background:#fff;
	border-radius:5px;
	padding:10px 10px 15px;
	margin-bottom:10px;
}

#view-admindashboard .box:last-child {
	margin-bottom:0px;
}

#view-admindashboard .box h2 {
	margin-top:5px;
}

#view-admindashboard .box h3 {
	margin-top:10px;
	font-size:1em;
}

#view-admindashboard .toggle-handle {
	cursor:pointer;
	margin-bottom:0px;
}

#view-admindashboard .toggle-handle.opened {
	margin-bottom:10px;
}

#view-admindashboard .toggle-handle span:before {
	content: "\f0da";
	font-family:FontAwesome;
	display:inline-block;
	width:1em;
	font-weight:normal;
	text-align:center;
}

#view-admindashboard .toggle-handle.opened span:before {
	content: "\f0d7";
	font-family:FontAwesome;
	display:inline-block;
	width:1em;
	font-weight:normal;
	text-align:center;
}

#view-admindashboard .toggle-content {
	display:none;
	margin-left:18px;
}

#view-admindashboard h4 {
	margin:0px;
}

#view-admindashboard  ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}

#view-admindashboard li {
	margin:0px;
	padding:0px;
}

#view-admindashboard .box.critical-issues {
	border-color:red;
}

#view-admindashboard .stat-title,
#view-admindashboard .issue-title,
#view-admindashboard .k-tip-title {
	font-weight:normal;
	font-size:14px;
}

#view-admindashboard .toggle-handle span {
	padding-right:5px;
}

#view-admindashboard .issue-item h4,
#view-admindashboard .tip-item h4 {
	margin-top:5px;
	margin-bottom:5px;
	font-size:14px;
}

#view-admindashboard .no-update-available span,
#view-admindashboard .tips .no-tips span,
#view-admindashboard .issues .no-issues span {
	padding-right:5px;
	position:relative;
	top:-1px;
}

#view-admindashboard .no-update-available,
#view-admindashboard .mayor-update-available,
#view-admindashboard .patchlevel-update-available {
	display:none;
}

#view-admindashboard .latest-version-patchlevel,
#view-admindashboard .latest-version-mayor {
	font-weight:bold;
}

#view-admindashboard .software-update .fa {
	padding-right:4px;
}

#view-admindashboard .software-update .fa-spin {
	font-size:15px;
	padding-right:0px;
	margin-right:7px;
}

#view-admindashboard .manual-link {
	color:inherit;
	text-decoration:none;
}

#view-admindashboard .manual-link .fa:before {
	padding-right:7px;
}

#view-admincustomer #view-customerform {
	padding:0px;
	clear:both;
	margin-top:20px;
}

#com_configbox #view-adminproductlistingassignments .tasks-and-filters {
	display:none;
}

#view-admin .kenedo-tabs {
	display:none;
}

#com_configbox #view-adminproduct .property-group-detail_panes_start .property-group-properties {
	float:none;
}

#com_configbox #view-adminconfig .intra-listing .kenedo-page-title {
	clear: none;
	height: auto;
	line-height: inherit;
	visibility: visible;
	font-size: 16px;
	margin-top:5px;
}

#com_configbox #view-adminconfig .intra-listing .kenedo-page-title:before {
	font-family: FontAwesome;
	content: '\f0c8';
	color: #025A8D;
	padding-right: 6px;
	padding-left: 1px;
}

#com_configbox #view-adminconfig #property-name-connectors .kenedo-page-title {
	display:none;
}

#kenedo-page #view-adminconfig .property-group-connectors_start .property-group-properties {
	float:none;
	margin-top:-30px;
}

#com_configbox #view-adminconfig .intra-listing .tasks-and-filters {
	margin-bottom:0px;
}

#com_configbox #view-adminconfig #property-name-currencies .property-body,
#com_configbox #view-adminconfig #property-name-connectors .property-body {
	margin-left:0px;
}

#com_configbox #view-adminconfig .property-group-price_module_start_regular,
#com_configbox #view-adminconfig .property-group-price_module_start_recurring {
	float:left;
	clear:none;
	margin-right:30px;
}

#com_configbox #view-adminconfig .property-group-price_module_start_regular   .property-group-content,
#com_configbox #view-adminconfig .property-group-price_module_start_recurring .property-group-content {
	padding-left:0px;
}

#com_configbox #view-adminproduct .property-group-price_module_start_recurring,
#com_configbox #view-adminproduct .property-group-price_module_start_regular {
	float:left;
	clear:none;
	margin-right:30px;
}

#com_configbox #view-adminproduct .property-group-price_module_start_recurring .property-group-content,
#com_configbox #view-adminproduct .property-group-price_module_start_regular   .property-group-content {
	padding-left:0px;
}

#com_configbox #view-adminproduct .property-group-price_module_start_recurring select,
#com_configbox #view-adminproduct .property-group-price_module_start_regular select {
	width:160px;
}

#com_configbox #view-adminelement .kenedo-properties {
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

#com_configbox #view-adminelement .property-group-assignments_group .property-group-properties {
	float:none;
}

#com_configbox #view-adminelement .element-option-assignments .property-group-content {
	padding-top:10px;
}

#com_configbox #view-admincounties .kenedo-filter #xref_admincountries_adminzones_zone_id_chosen,
#com_configbox #view-admincounties .kenedo-filter #adminstates_name,
#com_configbox #view-admincounties .kenedo-filter #xref_admincountries_adminzones_zone_id,
#com_configbox #view-admincounties .kenedo-filter #admincountries_state_name,
#com_configbox #view-admincounties .kenedo-filter #admincountries_country_name {
	display:none;
}

#kenedo-page #order-property-name-ordering {
	white-space: nowrap;
}

#kenedo-page .kenedo-candelete-usage-entries {
	margin:10px;
}

#kenedo-page .kenedo-candelete-usage-entries .kenedo-candelete-usage-entry-link {
	text-decoration:underline;
}

#com_configbox .rule-text {
	display:block;
	max-width:420px;
}

#com_configbox .rule-text .item {
	padding:4px 5px;
	margin:0px 2px 2px;
	display:inline-block;
	border-radius:2px;
}

#com_configbox .rule-text>.item:first-child {
	margin-left:0px;
}

#com_configbox .rule-text .condition {
	border:1px solid #4DA6FF;
	background:#B3D9FF;
}

#com_configbox .rule-text .combinator {
	border:1px solid #FFA54C;
	background:#FFD9B3;
}

#com_configbox .rule-text .bracket {
	border:1px solid #e5e631;
	background:#FFFFB3;
}

#com_configbox #view-admincalculation .calc-type-subview .kenedo-view {
	padding-left:0px;
	padding-right:0px;
}

#com_configbox #view-admincalculation #view-admincalccode .syntax-notes {
	font-weight:bold;
}

#com_configbox #view-admincalculation .calculation-table-notes {
	float:right;
	width:350px;
	padding-left:10px;
	padding-right:10px;
	margin-top:-106px;
}

#com_configbox #view-admincalculation.in-modal .task-copy {
	display:none;
}

#com_configbox #view-admincalculation .task-store {
	display:none;
}

#com_configbox #view-admincalculation.in-modal .task-store {
	display:block;
}

#com_configbox #view-adminelement .draghandler {
	width:17px;
	cursor:move;
}

#com_configbox #view-adminelement .draghandler .fa {
	margin-top:1px;
	font-size:15px;
	color:#666;
}

#com_configbox #view-adminelement .draghandler:hover {
	background-position: 0 -20px;
}

#com_configbox #view-adminelement #optionList {
	min-width:820px;
	margin-bottom:20px;
}

#com_configbox #view-adminelement #optionList ul {
	margin:0px;
	padding:0px;
}

#com_configbox #view-adminelement #optionList li {
	margin:5px 0px;
	padding:5px;
	list-style:none;
	border:1px solid #ccc;
	background:none;
}

#com_configbox #view-adminelement #optionList .heading .ordering {
	margin-left:6px;
}

#com_configbox #view-adminelement #optionList .heading {
	font-weight:bold;
}

#com_configbox #view-adminelement #optionList .ordering {
	float:left;
	width:30px;
}

#com_configbox #view-adminelement #optionList .heading .default {
	position:relative;
	left:-20px;
}

#com_configbox #view-adminelement #optionList .default {
	float:left;
	width:50px;
}

#com_configbox #view-adminelement #optionList .default input {
	margin:0px;
}

#com_configbox #view-adminelement #optionList .id {
	float:left;
	width:40px;
	overflow:hidden;
}

#com_configbox #view-adminelement #optionList .title {
	float:left;
	width:200px;
	overflow:hidden;
}

#com_configbox #view-adminelement #optionList .sku {
	float:left;
	width:100px;
	overflow:hidden;
}

#com_configbox #view-adminelement #optionList .has-rule {
	float:left;
	width:50px;
	overflow:hidden;
}

#com_configbox #view-adminelement #optionList .has-image {
	float:left;
	width:50px;
	overflow:hidden;
}

#com_configbox #view-adminelement #optionList .has-calc {
	float:left;
	width:50px;
	overflow:hidden;
}

#com_configbox #view-adminelement #optionList .published {
	float:left;
	width:40px;
	overflow:hidden;
}

#com_configbox #view-adminelement #optionList .tools {
	float:right;
}

#com_configbox #view-adminelement #optionList .tools a {
	padding-right:10px;
	white-space: nowrap;
}

#com_configbox #view-admintemplates .kenedo-tasks {
	float:right;
}

#com_configbox #view-admintemplates ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

#com_configbox #view-admintemplate .content-wrapper {
	width:768px;
}

#com_configbox #view-admintemplate .CodeMirror {
	margin-top:20px;
	height:500px;
}

#com_configbox #view-admintemplate .file-name {
	font-size:13px;
	word-break:break-all;
	margin-top:20px;
}

#com_configbox .adminform-subset-price_module_start_regular {
	float:left;
}

#com_configbox .adminform-subset-price_module_start_recurring {
	float:left;
}

#com_configbox #view-config .property-group-custom_fields_start .property-label {
	width:250px;
}

#com_configbox #view-config .property-group-custom_fields_start .property-body {
	margin-left:260px;
}

#view-adminpaymentmethod .property-group-desc_start.property-group-opened {
	clear:both;
}

#view-adminpaymentmethod .property-group-desc_start.property-group-closed {
	clear:none;
}

#view-adminpaymentmethod {
	position:relative;
}

#view-adminpaymentmethod .kenedo-properties {
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

#view-adminpaymentmethod .payment-class-settings {
	float:right;
	padding:10px;
	width:400px;
	background:#fff;
	border-radius:5px;
}

#view-adminpaymentmethod #form-field-desc {
	clear:both;
}

#view-adminpaymentmethod .payment-class-settings .payment-class-settings-heading {
	font-weight:bold;
	margin-bottom:10px;
}

#view-adminpaymentmethod .payment-class-settings label {
	padding-left:2px;
	padding-right:5px;
}

#com_configbox #view-adminpaymentmethod .notification_url_textfield {
	width:90%;
}

#com_configbox #view-adminshopdata .property-group-invoicestart .property-group-notes {
	margin-left:0px;
	float:none;
	width:auto;
}

#com_configbox #view-adminshopdata .property-name-invoice .property-label {
	float:none;
	text-align:left;
	padding-bottom:5px;
	margin-left:0px;
	width:auto;
}

#com_configbox #view-adminshopdata .property-name-invoice .property-body {
	float:none;
	padding-top:0px;
	padding-left:0px;
	margin-left:0px;
}

#com_configbox #view-adminshopdata .property-group-notes li {
	margin:0px;
	padding:0px;
}

#com_configbox #view-adminshopdata .property-group-invoicestart .shop-data-keyword-group {
	display:inline-block;
	width:180px;
	vertical-align:top;
}

#com_configbox #view-adminshopdata .property-group-invoicestart .shop-data-keyword-group ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

#com_configbox .property-type-taxclassrates .property-body {
	margin-left:0px;
}

#com_configbox #view-adminorder .order-meta-info {
	margin-top:10px;
	margin-bottom:10px;
}

#com_configbox #view-adminorders .datepicker {
	width:70px;
}

#com_configbox #view-adminorders .kenedo-page-title {
	margin-top:0px;
	float:left;
}

#kenedo-page #view-adminorders .kenedo-listing th.field-id,
#kenedo-page #view-adminorders .kenedo-listing td.field-id {
	width:auto!important;
	min-width:50px;
	padding-right:10px;
}

#com_configbox #view-adminorders .tasks-and-filters {
	clear:right;
}

#com_configbox #view-adminorder .order-overview-table {
	width:100%;
}

#com_configbox #view-adminorder .page-content {
	width:750px;
}

#com_configbox #view-adminorder fieldset {
	padding:10px;
}

#com_configbox #view-adminorder .custom-order-values .key {
	font-weight:bold;
	margin-top:5px;
}

#com_configbox #view-adminorder .order-overview td {
	vertical-align:top;
}

#com_configbox #view-adminorder .order-overview ul {
	margin:0px;
	padding:0px;
}

#com_configbox #view-adminorder .order-overview li {
	margin:0px;
	padding:0px;
	list-style:none;
}

#com_configbox #view-adminorder .status {
	padding-bottom: 7px;
}

#com_configbox #view-adminorder .invoice {
	padding-bottom: 7px;
}

#com_configbox #view-adminorder .invoice .form-item {
	margin:5px 0px;
}

#com_configbox #view-adminorder .invoice label {
	display:inline-block;
	min-width:150px;
	margin-right:10px;
}

#com_configbox #view-adminorder .invoice input[type=text] {
	width:90px;
	padding-top:2px;
	padding-bottom:2px;
}

#com_configbox #view-adminorder .status select {
	clear:none;
	float:left;
	margin-right:5px;
	line-height:25px;
	height:25px;
}

#com_configbox #view-adminorder .admin-order-address h4 {
	margin-top:10px;
	margin-bottom:10px;
}

#com_configbox #view-adminorder .user-info-table th,
#com_configbox #view-adminorder .user-info-table td {
	padding-left:0px;
	padding-right:10px;
	padding-top:1px;
	padding-bottom:1px;
}

#com_configbox #view-admin.in-frontend .configbox-logo,
#com_configbox #view-admin.in-frontend .configbox-mainmenu  {
	display:none;
}

#kenedo-page #view-adminuser .property-group-billing_start {
	float:left;
	clear:none;
	margin-right:60px;
}

#kenedo-page #view-adminuser .property-group-delivery_start {
	float:left;
	clear:none;
}

#com_configbox #view-adminuserfields .user-fields-table {
	border-collapse:collapse;
}

#com_configbox #view-adminuserfields .user-fields-table th {
	padding:5px 5px;
	border:1px solid #ccc;
	text-align:center;
}

#com_configbox #view-adminuserfields .user-fields-table td {
	padding:1px 5px;
	text-align:center;
	border:1px solid #ccc;
	min-width:20px;
}

#com_configbox #view-adminuserfields .user-fields-table th a {
	color:#000;
	text-decoration:none;
	cursor:default;
}

#com_configbox #view-adminuserfields .user-fields-table .field-name {
	text-align:left;
}

#com_configbox #view-adminuserfields .user-fields-table .browser-validation,
#com_configbox #view-adminuserfields .user-fields-table .server-validation {
	text-align:left;
}

#com_configbox #view-adminuserfields .user-fields-table .server-validation {
	width:190px;
}

#com_configbox #view-adminuserfields .user-fields-table .browser-validation input,
#com_configbox #view-adminuserfields .user-fields-table .server-validation input {
	width:125px;
	height:14px;
	margin:2px 0px;
	padding:2px 2px;
}

#com_configbox #view-adminuserfields .user-fields-table .loading-symbol {
	font-family:FontAwesome;
	content: "\f110";
	animation: fa-spin 2s infinite linear;
	-webkit-font-smoothing: antialiased;
	display:none;
}

#com_configbox #view-adminusergroup .property-group-discounts_start>.property-group-content>.property-group-properties {
	float:none;
}

#com_configbox #view-adminusergroup .property-group-discounts_regular_start,
#com_configbox #view-adminusergroup .property-group-discounts_recurring_start {
	float:left;
	clear:none;
	margin-right:30px;
}

#com_configbox #view-adminusergroup .property-type-usergroupdiscount .translation input {
	width:180px;
}

#com_configbox #view-adminusergroup .property-group-discounts_start .property-group {
	border:1px solid #ccc;
	padding:10px;
}

#com_configbox #view-adminusergroup .property-type-usergroupdiscount .price {
	margin-top:5px;
}

#com_configbox #view-adminusergroup .property-type-usergroupdiscount .discount {
	margin-top:5px;
}

#com_configbox #view-adminusergroup .property-type-usergroupdiscount .discount-title label,
#com_configbox #view-adminusergroup .property-type-usergroupdiscount .price label,
#com_configbox #view-adminusergroup .property-type-usergroupdiscount .discount label {
	display:block;
	text-align:left;
	width:auto;
	margin-bottom:3px;
	font-weight:bold;
}

#com_configbox #view-adminusergroup .property-type-usergroupdiscount .discount-label {
	position:relative;
	top:10px;
}

#com_configbox #view-adminusergroup .property-type-usergroupdiscount .translation label {
	font-weight:normal;
}

#com_configbox #view-adminusergroup .property-type-usergroupdiscount .price input,
#com_configbox #view-adminusergroup .property-type-usergroupdiscount .discount input {
	width:60px;
	float:none;
}

#com_configbox #view-adminemail .kenedo-properties {
	float:left;
}

#com_configbox #view-adminemail #notifications-keys {
	float:left;
	width:200px;
	margin-left:10px;
	background:#fff;
	border-radius:5px;
	padding:10px;
}

#com_configbox #view-adminemail #notifications-keys b {
	display:block;
	margin-top:5px;
	margin-bottom:5px;
}

#com_configbox #view-adminemail #notifications-keys ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

#com_configbox #view-adminemail #notifications-keys li {
	margin:0px;
	padding:0px;
}

/* BACKEND - END */

/* CART BLOCK - START */

.block-cart .cart-order-listing ul,
.block-cart .cart-order-listing li {
	list-style:none;
	margin:0px;
	padding:0px;
	background:none;
	clear:right;
}

.block-cart .cart-product-price-recurring,
.block-cart .cart-product-price {
	float:right;
}

.block-cart .cart-totals {
	clear:right;
}

.block-cart .cart-total-price-recurring,
.block-cart .cart-total-price {
	float:right;
}

/* CART BLOCK - END */



/* PRICE BLOCK - START */

.block-content>.configbox-block {
	padding:2px 8px 8px;
}

.block-pricing ul,
.block-pricing li {
	margin:0px;
	padding:0px;
	list-style:none;
	background:none;
	clear:right;
}

.block-pricing .element-item {
	clear:right;
}

.block-pricing ul {
	margin-left:0px!important;
}

.block-pricing .item-price {
	float:right;
}

.block-pricing h4,
.block-pricing h5,
.block-pricing h6 {
	font-size:100%;
	margin-top:.5em;
	margin-bottom:.5em;
	font-weight:bold;
}

.block-pricing .buttons {
	margin-top:10px;
}

.block-pricing .buttons .button-frontend-small {
	margin-bottom:5px;
}

.block-pricing .total-per-item {
	margin-top:.5em;
	margin-bottom:.5em;
	font-weight:bold;
	border-bottom:1px solid #ccc;
	padding-bottom:6px;
}

.block-pricing .totals-b2b .total-gross {
	font-weight:bold;
	margin-top:.5em;
	margin-bottom:.5em;
	border-top:1px solid #ccc;
	padding-top:6px;
}

.block-pricing .totals-b2c .total-gross {
	font-weight:bold;
}

.block-pricing .total-plus-extras {
	border-top:1px solid #ccc;
	padding-top:7px;
}

.block-pricing .configurator-page-title {
	cursor:pointer;
}

.block-pricing .configurator-page.no-elements .configurator-page-title {
	cursor:default;
	background:none;
}

.block-pricing .configurator-page-expanded .pricing-configurator-page {
	display:none;
}

.block-pricing .pricing .element-list {
	display:none;
	padding-left:15px;
}

.block-pricing .configurator-page-expanded .element-list {
	display:block;
	margin-bottom:.5em;
}

.block-pricing .configurator-page-expanded .configurator-page-title:before {
	font-family:FontAwesome;
	content: "\f0d7";
	width:10px;
	display:inline-block;
}

.block-pricing .configurator-page-title:before {
	font-family:FontAwesome;
	content: "\f0da";
	width:10px;
	display:inline-block;
}

.block-pricing .configurator-page.no-elements .pricing-configurator-page {
	display:inline;
}

.block-pricing .hidden-item {
	display:none;
}

/* PRICE BLOCK - END */


/* NAVIGATION BLOCK - START */

.block-navigation ul.menu {
	display:block;
}

.block-navigation ul,
.block-navigation li {
	margin:0px;
	padding:0px;
	list-style:none;
	background:none;
}

.block-navigation ul.closed {
	display:none;
}

.block-navigation li.active a {
	font-weight:bold;
}

.block-navigation.tab-style li * {
	background-image:none;
	margin:0px;
	padding:0px;
	display:block;
	text-decoration:none;
}

.block-navigation.tab-style ul {
	border-bottom:1px solid #ccc;
}

.block-navigation.tab-style li {
	display:inline-block;
	background-color:#eee;
	background-image:none;
	border:1px solid #ccc;
	border-bottom:none;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	text-align:center;
	margin-right: 5px;
}

.block-navigation.tab-style li a {
	padding:8px 10px;
	border-top: 1px solid white;
	border-radius: 4px;
}

.block-navigation.tab-style li a:hover {
	background:none;
	text-decoration:none;
}

.block-navigation.tab-style li:hover,
.block-navigation.tab-style li.active {
	background:#fff;
	position:relative;
	top:0px;
	border-bottom-color:rgba(255,255,255,0);
	padding-top:1px;
	box-shadow: none;
}


/* NAVIGATION BLOCK - END */

/* BACKEND - START */

#kenedo-page .configbox-ajax-target {
	min-width:800px;
	max-width:800px;
	float:left;
}

#com_configbox .configbox-ajax-target>.kenedo-view {
	padding:0px;
}

#kenedo-page .configbox-ajax-target .kenedo-footer-info {
	display:none;
}

#kenedo-page .configbox-ajax-target #view-adminshopdata .task-cancel,
#kenedo-page .configbox-ajax-target #view-adminshopdata .task-store,

#kenedo-page .configbox-ajax-target #view-adminproduct .task-cancel,
#kenedo-page .configbox-ajax-target #view-adminproduct .task-store,

#kenedo-page .configbox-ajax-target #view-adminpage .task-cancel,
#kenedo-page .configbox-ajax-target #view-adminpage .task-store,

#kenedo-page .configbox-ajax-target #view-adminelement .task-cancel,
#kenedo-page .configbox-ajax-target #view-adminelement .task-store,

#kenedo-page .configbox-ajax-target #view-adminxrefelementoption .task-cancel,
#kenedo-page .configbox-ajax-target #view-adminxrefelementoption .task-store,

#kenedo-page .configbox-ajax-target #view-adminoptionassignment .task-cancel,
#kenedo-page .configbox-ajax-target #view-adminoptionassignment .task-store {
	display:none;
}

#kenedo-page #view-adminmainmenu {
	padding:0px;
}

#kenedo-page .configbox-mainmenu {
	float:left;
	width:250px;
	font-size:15px;
	background:#fff;
	padding:16px 15px 10px;
	margin:0px;
	margin-right:15px;
	border-radius:5px;
}

#kenedo-page .configbox-mainmenu,
#view-admindashboard .news,
#view-admindashboard .box {
	border-radius:0px;
	border:1px solid #ddd;
	box-shadow:0px 0px 1px 1px #efefef;
	background:#fff;
}

#kenedo-page .configbox-mainmenu .menu-list {
	margin:0px;
	margin-bottom:16px;
	padding:0px;
	list-style:none;
}

#kenedo-page .configbox-mainmenu .menu-list .menu-list-item {
	margin:0px;
	padding:0px;
	list-style:none;
	margin-bottom:8px;
}

#kenedo-page .configbox-mainmenu .trigger-toggle-sub-items {
	font-size: 16px;
	border-bottom: none;
	width: auto;
	margin-bottom: 8px;
	line-height: 1em;
	color: #025A8D;
	font-weight:bold;
	cursor:pointer;
}

#kenedo-page .configbox-mainmenu .trigger-toggle-sub-items:before {
	font-family:FontAwesome;
	content:'\f0fe';
	padding-right:5px;
}

#kenedo-page .configbox-mainmenu .sub-items {
	display:none;
}

#kenedo-page .configbox-mainmenu .sub-items.opened {
	display:block;
	margin-left:22px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper {
	margin-left:-19px;
	font-size:14px;
}

#kenedo-page .configbox-mainmenu .trigger-toggle-sub-items.opened:before {
	content:'\f146';
}

#kenedo-page .configbox-mainmenu .menu-link {
	font-size: 16px;
	border-bottom: none;
	width: auto;
	margin-bottom: 0px;
	line-height: 1em;
	color: #025A8D;
	font-weight:bold;
	cursor:pointer;
	text-decoration:none;
}

#kenedo-page .configbox-mainmenu .menu-link:before {
	font-family:FontAwesome;
	content:'\f0c8';
	color:#025A8D;
	padding-right:5px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .product-list {
	margin-top:12px;
	margin-bottom:15px;
	padding-left:0px;
	margin-left:0px;
	margin-right:0px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper ul {
	list-style:none;
	padding-left:20px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper li {
	cursor:pointer;
	margin-top:0px;
	margin-bottom:2px;
	white-space: nowrap;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .product-item>.edit-link {
	max-width:210px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .page-item>.edit-link {
	max-width:190px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .element-item>.edit-link {
	max-width:170px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .option-item>.edit-link {
	max-width:169px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .ui-state-highlight {
	height:15px;
	margin-top:2px;
	margin-bottom:2px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .toggle-tree-edit {
	position:absolute;
	right:0px;
	top:-30px;
	text-decoration:none;
	font-size:17px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .trigger-remove {
	text-decoration:none;
	cursor:pointer;
	color:#333;
	margin-left:2px;
	vertical-align:top;
	line-height:1.1em;
	display:none;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper.shows-edit-buttons .trigger-remove {
	display:inline-block;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .trigger-remove:before {
	font-family:FontAwesome;
	content:"\f057";
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .trigger-remove.processing {
	animation: fa-spin 2s infinite linear;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .trigger-remove.processing:before {
	font-family:FontAwesome;
	content:"\f110";
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .trigger-copy {
	text-decoration:none;
	cursor:pointer;
	color:#333;
	margin-left:2px;
	vertical-align:top;
	line-height:1.1em;
	display:none;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper.shows-edit-buttons .trigger-copy {
	display:none;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .trigger-copy:before {
	font-family:FontAwesome;
	content:"\f0c5";
	font-size:12px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .trigger-copy.processing {
	animation: fa-spin 2s infinite linear;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .trigger-copy.processing:before {
	font-family:FontAwesome;
	content:"\f110";
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .toggle-tree-edit:before {
	font-family:FontAwesome;
	content:'\f013';
	color:#333;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .toggle-tree-edit.active:before {
	color:#025A8D;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .edit-link {
	color:#333;
	text-decoration:none;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .inactive>.edit-link {
	color:#ccc;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .add-item {
	margin-top:-1px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .add-link {
	color:#333;
	text-decoration:none;
	display:inline-block;
	line-height:1.2em;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .option-list {
	padding-left:35px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .sub-list {
	display:none;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .sub-list.list-opened {
	display:block;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .edit-link {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:inline-block;
	margin:0px;
	padding:0px;
	line-height:1.1em;
	vertical-align:top;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .product-item > div > .edit-link {
	width:220px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .page-item > div > .edit-link {
	width:200px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .element-item > div > .edit-link {
	width:180px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .sub-list-trigger {
	float:left;
	margin-right:4px;
	vertical-align:top;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .sub-list-trigger.has-sub-list:before {
	font-family:FontAwesome;
	content:'\f055';
	display:inline-block;
	width:13px;
	color:#333;
	line-height:1.1em;
	vertical-align:top;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .sub-list-trigger.no-sub-list:before {
	font-family:FontAwesome;
	content:'\f055';
	display:inline-block;
	width:13px;
	color:#333;
	line-height:1.1em;
	vertical-align:top;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .element-title.sub-list-trigger:before {
	content:'\f111';
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .add-link:before {
	font-family:FontAwesome;
	content:'\f067';
	display:inline-block;
	width:17px;
	padding-left:1px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .sub-list-trigger.trigger-opened:before {
	font-family:FontAwesome;
	content:'\f056';
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .option-list {
	padding-left:20px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .option-list .edit-link:before {
	font-family:FontAwesome;
	content:'\f111';
	display:inline-block;
	width:19px;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper .kenedo-view {
	background:none;
	padding:0px;
	font-size: inherit;
	position:relative;
}

#kenedo-page .configbox-mainmenu .product-tree-wrapper li.active>div>.edit-link,
#kenedo-page .configbox-mainmenu .product-tree-wrapper li.active>.add-link {
	font-weight:bold;
}

.row-parameter-picker .kenedo-popup-content-inner,
.column-parameter-picker .kenedo-popup-content-inner {
	overflow:auto;
	max-height:500px
}

.input-picker {
	width:300px;
	background:#fff;
	padding-bottom:10px;
	font-size:13px;
}

.input-picker .tab {
	display:inline-block;
	padding:3px 10px;
	border:1px solid #ccc;
	cursor:pointer;
}

.input-picker .tab-open {
	font-weight:bold;
	border-color:#000;
}

.input-picker .pane {
	display:none;
	padding-top:10px;
}

.input-picker .pane.pane-open {
	display:block;
}

.input-picker .view-item-picker .option-list {
	display:none;
}

.input-picker .view-item-picker .element-item .sub-list-trigger {
	display:none;
}

.input-picker .view-item-picker .element-item:hover {
	text-decoration:underline;
}


.view-item-picker ul {
	list-style:none;
	padding-left:14px;
}

.view-item-picker ul.product-list {
	padding-left:0px;
}

.view-item-picker li {
	cursor:pointer;
	margin-top:2px;
	margin-bottom:2px;
}

.view-item-picker .sub-list-trigger:before {
	font-family:FontAwesome;
	content:'\f055';
	display:inline-block;
	width:10px;
}

.view-item-picker .sub-list-trigger.trigger-opened:before {
	font-family:FontAwesome;
	content:'\f056';
}

.view-item-picker .sub-list {
	display:none;
}

.view-item-picker .sub-list.list-opened {
	display:block;
}

.view-item-picker .picker-link {
	color:#000;
	text-decoration:none;
}


#view-admincalcmatrix {
	background:#fff;
	padding:0px!important;
}

#view-admincalcmatrix .matrix-wrapper-table {
	border-collapse: collapse;
	font-size:inherit;
}

#view-admincalcmatrix .calc-matrix {
	border-collapse: collapse;
}

#view-admincalcmatrix .calc-matrix th,
#view-admincalcmatrix .calc-matrix td {
	border:1px solid #ccc;
	font-size:inherit;
}

#view-admincalcmatrix .calc-matrix th {
	background:#eee;
	padding:1px;
	text-align:left;
}

#view-admincalcmatrix .calc-matrix td {
	padding:1px;
	width:40px;
	text-align:right;
	background:#fff;
}

#view-admincalcmatrix .calc-matrix .column-sort-handle,
#view-admincalcmatrix .calc-matrix .row-sort-handle {
	width:10px;
	margin-left:7px;
	display:none;
}

#view-admincalcmatrix .calc-matrix .column-sort-handle {
	transform: rotate(90deg);
}

.dragtable-drag-wrapper {
	position: absolute;
	z-index: 1000;
}

.dragtable-drag-wrapper .dragtable-drag-col {
	opacity: 0.7;
}

.dragtable-col-placeholder {
	color:#efefef;
}

.dragtable-col-placeholder th {
	background:#eee;
}

.dragtable-col-placeholder td {
	background:#fff;
	padding-top:5px;

}

.dragtable-drag-wrapper td {
	padding-bottom:3px!important;
}

.dragtable-col-placeholder * {
	opacity: 0.0;
	visibility: hidden;
}

#view-admincalcmatrix .calc-matrix .ui-state-highlight {
	height:30px;
}

#view-admincalcmatrix .calc-matrix .ui-sortable-helper td {
	padding-left:20px;
}

#view-admincalcmatrix .calc-matrix .trigger-remove {
	cursor:pointer;
}

#view-admincalcmatrix .calc-matrix .trigger-remove:before {
	font-family:FontAwesome;
	content:'\f00d';
	padding-right:5px;
	display:none;
}

#view-admincalcmatrix .calc-matrix .toggle-matrix-tools {
	color:#333;
	cursor:pointer;
	text-decoration:none;
}

#view-admincalcmatrix .calc-matrix .toggle-matrix-tools.active {
	color:#0B55C4;
	cursor:pointer;
}

#view-admincalcmatrix .calc-matrix .toggle-matrix-tools:before {
	font-family:FontAwesome;
	content:'\f013';
	margin-left:5px;
	margin-right:5px;
}

#view-admincalcmatrix .show-matrix-tools .calc-matrix .column-sort-handle,
#view-admincalcmatrix .show-matrix-tools .calc-matrix .row-sort-handle,
#view-admincalcmatrix .show-matrix-tools .trigger-remove:before {
	display:inline-block;
}

#view-admincalcmatrix #property-name-matrix select {
	width:auto;
}

#view-admincalcmatrix #property-name-row_type,
#view-admincalcmatrix #property-name-column_type,
#view-admincalcmatrix #property-name-column_element_id,
#view-admincalcmatrix #property-name-column_calc_id,
#view-admincalcmatrix #property-name-row_element_id,
#view-admincalcmatrix #property-name-row_calc_id {
	display:none;
}

#view-admincalcmatrix .calc-matrix .input-value {
	width:40px;
	border:none;
	background:#eee;
	text-align:center;
	font-weight:bold;
	font-size:13px;
	line-height:1.2em;
}

#view-admincalcmatrix .calc-matrix .missing-value .input-value {
	background: #ff0000;
}

#view-admincalcmatrix .calc-matrix .duplicate-value .input-value {
	background: #ff0000;
}

.dragtable-drag-wrapper .price,
#view-admincalcmatrix .calc-matrix .price {
	width:40px;
	border:none;
	text-align:right;
	font-weight:normal;
	font-size:13px;
	line-height:1.2em;
}

#view-admincalcmatrix .cell-column-parameter {
	text-align:center;
	padding-bottom:5px;
	vertical-align: bottom;
}

#view-admincalcmatrix .cell-row-parameter {
	width:100px;
	text-align:right;
	padding-right:5px;
}

#view-admincalcmatrix .cell-column-parameter .kenedo-popup-trigger-content,
#view-admincalcmatrix .cell-row-parameter .kenedo-popup-trigger-content {
	color:#0B55C4;
}

#view-admincalcmatrix .column-parameter,
#view-admincalcmatrix .row-parameter {
	white-space: nowrap;
}

#view-admincalcmatrix .column-parameter select,
#view-admincalcmatrix .row-parameter select {
	border:none;
	box-shadow:none;
	background-color:#eee;
	padding-right:20px;
}

#view-admincalcmatrix .cell-trigger-add-column {
	text-align:left;
	padding-left:5px;
}

#view-admincalcmatrix .cell-trigger-add-row {
	text-align:center;
	padding-top:5px;
}

#view-admincalcmatrix .trigger-add-column,
#view-admincalcmatrix .trigger-add-row {
	text-decoration:none;
	cursor:pointer;
	font-size:20px;
}

#view-admincalcmatrix .trigger-add-column:before,
#view-admincalcmatrix .trigger-add-row:before {
	font-family:FontAwesome;
	content:'\f055';
}

#view-adminoptionassignment .xref-data,
#view-adminoptionassignment .option-data {
	float:left;
	width:350px;
}

#view-adminoptionassignment .xref-data {
	margin-right:50px;
}

#view-adminoptionassignment .property-group-custom_fields_start .property-group-notes {
	float:none;
	margin-left:0px;
	width:218px;
}

/* BACKEND - END */

/* CUSTOMER FORM - START */

#view-customerform .customer-form-sections:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

#view-customerform .customer-form-section {
	float:left;
	margin-top:10px;
}

#view-customerform .customer-form-section:first-child {
	margin-right:10px;
}

#view-customerform .customer-form-section-delivery .customer-form-fields {
	display:none;
}

#view-customerform .show-delivery-fields .customer-form-section-delivery .customer-form-fields {
	display:block;
}

#view-customerform .customer-form-section-delivery .text-address-heading,
#view-customerform .customer-form-section-heading .different-shipping-address-toggle {
	display:inline-block;
}

#view-customerform .customer-form-section-heading .different-shipping-address-toggle {
	margin-left:3px;
}

#view-customerform .text-address-heading {
	margin-left:129px;
	font-weight:bold;
}

#view-customerform .field-label {
	vertical-align:top;
	display:inline-block;
	width:120px;
	margin:0px;
	margin-right:5px;
	text-align:right;
	font-size:1em;
	line-height:1.6em;
	padding-top:4px;
}

@media (max-width:424px) {
	#view-customerform .field-label {
		text-align:left;
		display:block;
	}
	#view-customerform .form-field {
		display:block;
	}
	#view-customerform .text-address-heading {
		margin-left:0px;
	}
}

#view-customerform .form-field {
	display:inline-block;
	white-space: nowrap;
}

#view-customerform .field-label:after {
	content:'*';
	padding-left:2px;
	visibility: hidden;
	color:#666;
}

#view-customerform .customer-field-register .field-label:after {
	display:none;
}

#view-customerform .required-field .field-label:after {
	visibility: visible;
}

#view-customerform .customer-form-section-heading .trigger-toggle-same-delivery {
	position:relative;
	top:-1px;
	margin-right:1px;
}

#view-customerform .customer-field {
	margin:5px 0px;
}

#view-customerform .unused-field {
	display:none;
}

#view-customerform .has-no-data {
	display:none;
}

#view-customerform .customer-field.uses-dropdown-instead,
#view-customerform .customer-field.uses-textfield-instead {
	display:none;
}

#com_configbox #view-customerform .textfield {
	width:210px;
	padding:4px 6px;
}

#com_configbox #view-customerform select {
	width:224px;
	margin-bottom:0px;
}

#view-customerform .chosen-container,
#com_configbox #view-customerform .chosen-container {
	width:224px!important;
}

#view-customerform .account-exists-section {
	display:none;
}

#view-customerform .required .field-label:after {
	content:'*';
}

#view-customerform .validation-tooltip {
	display:inline-block;
	width:18px;
	visibility: hidden;
}

#view-customerform .valid .validation-tooltip,
#view-customerform .invalid .validation-tooltip {
	visibility: visible;
}

#view-customerform .invalid .validation-tooltip:before {
	font-family: FontAwesome;
	content: "\f06a";
	color: red;
	font-size: 1.7em;
	position: relative;
	top: 5px;
	left:2px;
}

#view-customerform .valid .validation-tooltip:before {
	font-family: FontAwesome;
	content: "\f058";
	color:#1abb1a;
	font-size: 1.7em;
	position: relative;
	top: 5px;
	left:2px;
}

#view-customerform .form-field input[type=radio] {
	position:relative;
	top:2px;
	margin-right:1px;
}

#view-customerform .form-field input[type=radio]+label {
	position:relative;
	top:4px;
	margin-right:5px;
}

#view-customerform .recurring-customer-login {
	margin:20px 0;
}

#view-customerform .recurring-customer-login .login-wrapper {
	display:none;
}

#view-customerform .recurring-customer-login .login-box,
#view-customerform .recurring-customer-login .change-password-box,
#view-customerform .recurring-customer-login .recover-box {
	margin:10px 0;
}

#view-customerform .recurring-customer-login .change-password-box,
#view-customerform .recurring-customer-login .recover-box {
	display:none;
}

#view-customerform .recurring-customer-login .recover-box .input {
	display:block;
	margin:5px 0;
}

#view-customerform .recurring-customer-login .wrapper-show-login-box input {
	position:relative;
	top:-2px;
}

#view-customerform .recurring-customer-login .wrapper-show-login-box label {
	margin-left:4px;
}

#view-customerform .recurring-customer-login .input {
	display:block;
	margin:5px 0;
}

#view-customerform .recurring-customer-login .info-text {
	width:230px;
}

#view-customerform .recurring-customer-login .feedback {
	color:red;
	width:210px;
	padding:4px 6px;
}

#view-customerform .recurring-customer-login .feedback:empty {
	display:none;
}

/* CUSTOMER FORM - END */

#com_configbox #view-rfq .step-title {
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	padding-bottom: 3px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#com_configbox #view-rfq .field-comment label {
	vertical-align: top;
	display: inline-block;
	width: 120px;
	margin: 0px;
	margin-right: 5px;
	text-align: right;
	font-size: 1em;
	line-height: 1.6em;
	padding-top: 4px;
}

#com_configbox #view-rfq .field-comment .form-field {
	display:inline-block;
}

#com_configbox #view-rfq .buttons {
	margin-left:130px;
}

#com_configbox #view-rfq .buttons .btn {
	margin-bottom:5px;
}

@media (max-width:424px) {
	#com_configbox #view-rfq .field-comment label {
		text-align:left;
		display:block;
	}
	#com_configbox #view-rfq .buttons {
		margin-left:0px;
	}
}

#com_configbox #view-rfq .loading-indicator {
	display:none;
}

#com_configbox #view-saveorder .customer-form-section-billing .customer-form-section-heading {
	display:none;
}

#com_configbox #view-saveorder .buttons {
	margin-left:130px;
}