@CHARSET "UTF-8";

/* PRODUCT DETAIL PANES - START */

.cb-content .tab-content .tab-pane {
	padding-top: 10px;
}

/* PRODUCT DETAIL PANES - END */

/* PRICE BLOCK - START */

.cb-content .block-content > .configbox-block {
	padding: 2px 8px 8px;
}

.cb-content .block-pricing ul,
.cb-content .block-pricing li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	background: none;
	clear: right;
}

.cb-content .block-pricing .question-item {
	clear: right;
	margin: 2px 0;
}

.cb-content .block-pricing ul {
	margin-left: 0px !important;
}

.cb-content .block-pricing .item-price {
	float: right;
}

.cb-content .block-pricing h4,
.cb-content .block-pricing h5,
.cb-content .block-pricing h6 {
	font-size: 100%;
	margin-top: .5em;
	margin-bottom: .5em;
	font-weight: bold;
}

.cb-content .block-pricing .pricing-title {
	font-size: 16px;
	font-weight: bold;
}

.cb-content .block-pricing .buttons {
	margin-top: 10px;
}

.cb-content .block-pricing .buttons .button-frontend-small {
	margin-bottom: 5px;
}

.cb-content .block-pricing .total-per-item {
	margin-top: .5em;
	margin-bottom: .5em;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom: 6px;
}

.cb-content .block-pricing .totals-b2b .total-gross {
	font-weight: bold;
	margin-top: .5em;
	margin-bottom: .5em;
	border-top: 1px solid #ccc;
	padding-top: 6px;
}

.cb-content .block-pricing .totals-b2c .total-gross {
	font-weight: bold;
}

.cb-content .block-pricing .total-plus-extras {
	border-top: 1px solid #ccc;
	padding-top: 7px;
}

.cb-content .block-pricing .configurator-page-title {
	cursor: pointer;
}

.cb-content .block-pricing .configurator-page.no-questions .configurator-page-title {
	cursor: default;
	background: none;
}

.cb-content .block-pricing .configurator-page-expanded .pricing-configurator-page {
	display: none;
}

.cb-content .block-pricing .pricing .question-list {
	display: none;
	padding-left: 15px;
}

.cb-content .block-pricing .configurator-page-expanded .question-list {
	display: block;
	margin-bottom: .5em;
}

.cb-content .block-pricing .configurator-page-expanded .configurator-page-title:before {
	content: "\f0d7";
}

.cb-content .block-pricing .configurator-page-title:before {
	font-family: FontAwesome;
	content: "\f0da";
	width: 10px;
	margin-right: 5px;
	display: block;
	float: left;
	text-align: center;
}

.cb-content .block-pricing .question-item-outputvalue {
	font-weight: bold;
}

.cb-content .block-pricing .configurator-page.no-questions .pricing-configurator-page {
	display: inline;
}

.cb-content .block-pricing .hidden-item {
	display: none;
}

/* PRICE BLOCK - END */

/* TAB NAVIGATION - START */

.view-configurator-page .block-navigation {
	margin: 20px 0;
}

/* TAB NAVIGATION - END */

.popover-content p:last-child {
	margin-bottom: 0;
}

#ui-datepicker-div {
	z-index: 30000 !important;
}

.view-configurator-page .overviews .wrapper-visualization,
.view-configurator-page .overviews .wrapper-selections {
	display: none;
}

.view-configurator-page .overviews.show-visualization .wrapper-visualization {
	display: block;
	padding-top: 69px;

}

@media (min-width: 992px) {
	.view-configurator-page .overviews.show-visualization .wrapper-visualization {
		margin-left: 50px;
		margin-right: 50px;
	}
}

.view-configurator-page .overviews.show-visualization .trigger-show-visualization {
	display: none;
}

.view-configurator-page .overviews.show-selections .trigger-show-selections {
	display: none;
}

.view-configurator-page .overviews.show-selections .wrapper-selections {
	display: block;
	padding-top: 79px;
}

.view-configurator-page .overviews .view-picker {
	margin: 20px auto;
	text-align: center;
}

.view-configurator-page .overviews .selections-title {
	font-size: 1.2em;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	margin-top: 0;
}

@media (min-width: 992px) {
	.view-configurator-page .col-md-6.top-part,
	.view-configurator-page .col-md-6.bottom-part {
		float: right;
	}
}

.view-configurator-page .page-navigation-pages {
	text-align: right;
}

.view-configurator-page .configurator-page-question {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: -15px;
	margin-right: -15px;
}

.view-configurator-page .configurator-page-question .question:not([class*='col-']) {
	margin-left: 15px;
	margin-right: 15px;
	clear: both;
}

.cb-content .question,
.cb-content .answer {
	position: relative;
}

.cb-content .question {
	margin-top: 20px;
	margin-bottom: 20px;
}

.cb-content .question.non-applying-question.hide-non-applying {
	display: none;
}

.cb-content .question .answer.non-applying-answer.hide-non-applying {
	display: none;
}

.cb-content .question.non-applying-question.grey-out-non-applying .answer,
.cb-content .answer.non-applying-answer.grey-out-non-applying {
	color: #ccc;
}

.cb-content .question .radio,
.cb-content .question .checkbox {
	margin: 5px 0;
}

.cb-content .question .radio + .radio,
.cb-content .question .checkbox + .checkbox {
	margin: 5px 0;
}

.cb-content .question .radio input[type=radio] {
	margin: 4px 0 0 -20px;
}

.cb-content .question .validation-message-target {
	display: none;
}

.cb-content .question .answer.radio,
.cb-content .question .answer.checkbox {
	padding-left: 1px;
}

.cb-content .question .question-title {
	font-size: 1.2em;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	margin: 0 0 10px;
}

.cb-content .question .question-popover {
	font-size: 17px;
	margin-top: 2px;
}

.cb-content .question .question-description-tooltip {
	position: absolute;
	top: 0;
	right: 0;
}

.cb-content .question .question-description-tooltip .fa {
	text-decoration: none;
	color: inherit;
}

.cb-content .question .question-description-tooltip .fa:before {
	font-size: 18px;
}

.cb-content .question .answer-price-display {
	float: right;
}

.cb-content .question .question-was-price,
.cb-content .question .question-was-price-recurring,
.cb-content .question .answer-was-price,
.cb-content .question .answer-was-price-recurring {
	text-decoration: line-through;
}

.cb-content .question.type-calendar .ui-datepicker-trigger {
	display: none;
}

.cb-content .question.type-calendar .pseudo-text-field {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.cb-content .question.type-calendar .form-group {
	margin-bottom: 0;
}

.cb-content .question.type-calendar.non-applying-question.grey-out-non-applying .trigger-show-calendar {
	color: #ccc;

}

.cb-content .question.type-colorpicker .pseudo-text-field {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.cb-content .question.type-ralcolorpicker .pseudo-text-field {
	line-height: 1.42857143;
	padding: 6px 12px;
	font-size: 14px;
	color: #000000;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	cursor: pointer;
}

.cb-content .question.type-ralcolorpicker .pseudo-text-field.is-dark {
	color: #ffffff;
}

.cb-content .question.type-ralcolorpicker .modal-content a.close-modal {
	font-size: 11px;
	color: #666;
	font-weight: 300;
	position: absolute;
	top: 3px;
	right: 12px;
	text-decoration: none;
}

.cb-content .question.type-ralcolorpicker.non-applying-question .trigger-show-ralcolorpicker .fa {
	color: #ccc;
}

.cb-content .question.type-ralcolorpicker .modal-content {
	padding: 10px;
}

.cb-content .question.type-ralcolorpicker .modal-content .ral-color-group {
	margin-top: 5px;
	margin-bottom: 5px;
}

.cb-content .question.type-ralcolorpicker .modal-content .ral-color {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 15px;
	border-radius: 15px;
}

.cb-content .question.type-ralcolorpicker .modal-content .ral-color a{
	font-size: 14px;
	color: #000;
	text-decoration: none;
	display: block;
}

.cb-content .question.type-ralcolorpicker .modal-content .ral-color a.is-dark {
	color: #ffffff;
}

.cb-content .question.type-ralcolorpicker .ral-color-input {
	display: none;
}

.cb-content .question.type-colorpicker .wrapper-flat-spectrum {
	margin: 10px 0;
	display: none;
}

.cb-content .question.type-colorpicker .sp-container {
	border: 1px solid #ccc;
	display: block;
}

.cb-content .question.type-colorpicker .sp-palette-container,
.cb-content .question.type-colorpicker .sp-picker-container {
	width: 50%;
	box-sizing: border-box;
}

.cb-content .question.type-colorpicker .sp-palette .sp-thumb-el {
	width: 20px;
	height: 20px;
}

.cb-content .question.type-colorpicker .sp-input {
	margin-bottom: 0;
	border: none;
}

.cb-content .question.type-colorpicker .sp-input:focus {
	border: none;
}

.cb-content .question.type-colorpicker .sp-button-container {
	display: none;
}

.cb-content .question.type-colorpicker .cb-replacer .sp-dd {
	display: none;
}

.cb-content .question.type-colorpicker.non-applying-question.grey-out-non-applying .trigger-show-colorpicker {
	color: #ccc;
}

.cb-content .question.type-dropdown .configbox-dropdown-trigger {
	border: 1px solid #ccc;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: -10px;
	margin-right: -10px;
}

.cb-content .question.type-dropdown .configbox-dropdown-trigger:before {
	font-family: FontAwesome;
	content: "\f0d7";
	float: right;
	display: block;
	line-height: inherit;
	color: #333;
	margin-left: 10px;
	margin-right: 2px;
	vertical-align: middle;
}

.cb-content .question.type-dropdown .configbox-dropdown-trigger label {
	margin-bottom: 0;
	font-weight: normal;
}

.cb-content .question.type-dropdown .configbox-dropdown {
	display: none;
	margin-left: -10px;
	margin-right: -10px;
	padding: 0px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.cb-content .question.type-dropdown.non-applying-question.grey-out-non-applying .configbox-dropdown-trigger {
	color: #ccc;
	border-color: #ccc;
}

.cb-content .question.type-dropdown.non-applying-question.grey-out-non-applying .configbox-dropdown-trigger-default {
	visibility: hidden;
}

.cb-content .question.type-dropdown.non-applying-question.grey-out-non-applying .configbox-dropdown-trigger:before {
	color: #ccc;
}

.cb-content .question.type-slider label {
	display: block;
}

.cb-content .question.type-slider .wrapper-input {
	float: right;
	width: 100px;
}

.cb-content .question.type-slider .wrapper-slider {
	width: calc(100% - 110px);
	padding-top: 10px;
}

.cb-content .question.type-upload.grey-out-non-applying.non-applying-question .answers {
	color: #ccc;
}

.cb-content .question.type-upload .upload-drop-zone {
	text-align: center;
	border: 3px dashed #ccc;
	position: relative;
	border-radius: 2px;
	padding: 20px;
}

.cb-content .question.type-upload.applying-question .upload-drop-zone.is-dragover {
	border-color: #70bc52;
}

.cb-content .question.type-upload .upload-drop-zone .drop-zone-note-pre {
	text-transform: uppercase;
	text-shadow: 1px 1px #fff;
	font-weight: bold;
	margin-bottom: 10px;
}

.cb-content .question.type-upload .upload-drop-zone .drop-zone-note-post {
	display: none;
}

.cb-content .question.type-upload .upload-current-file {
	margin: 10px 10px 0;
}

.cb-content .question.type-upload .upload-current-file .file-list {
	display: none;
}

.cb-content .question.type-upload .upload-current-file.has-file .file-list {
	display: block;
}

.cb-content .question.type-upload .upload-current-file.has-file .no-file-text {
	display: none;
}

.cb-content .question.type-upload .trigger-show-file-browser {
	text-transform: uppercase;
}

.cb-content .question.type-upload .trigger-remove-file {
	text-decoration: none;
	font-size: 120%;
	margin-right: 5px;
}

.cb-content .question.type-upload .validation-message-target:not(:empty) {
	margin:10px 0;
}

.cb-content .question.type-images label {
	display: block;
}

.cb-content .question.type-images .configbox-image-button-image {
	width: 100%;
}

.cb-content .question.type-images .answer-popover {
	position: absolute;
	top: 10px;
	right: 20px;
}

.cb-content .question.type-images .configbox-image-button-wrapper {
	margin-bottom: 5px;
}

.cb-content .question.type-images input[type=radio] {
	position: relative;
	top: -2px;
	margin-top: 0;
	margin-right: 2px;
}

.cb-content .question.type-checkbox .form-group {
	margin-bottom: 0;
}

.cb-content .question.type-checkbox .checkbox {
	margin: 5px 0;
}

.cb-content .question.type-checkbox.title-display-heading + .question.type-checkbox.title-display-none {
	margin-top: -15px;
}

.cb-content .question.type-checkbox.title-display-none {
	margin-top: 0;
	margin-bottom: 0;
}

.cb-content .visualization-frame:before {
	content: " ";
	display: table;
}

.cb-content .visualization-frame:after {
	display: table;
	content: "";
	clear: both;
}

.cb-content .visualization-frame .base-image,
.cb-content .visualization-frame .visualization-image {
	float: left;
	margin-right: -100%;
	width: 100%;
}

.cb-content .view-sdvisualization #shapediver-vis {
	width: 100%;
}

/* Quick-Edit on configurator pages */
.view-configurator-page {
	position: relative;
}

.view-configurator-page .quick-edit-buttons-page {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 20;
}

.view-configurator-page .page-edit-buttons {
	display: none;
	background: #fff;
	padding: 10px;
	box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

.view-configurator-page .trigger-show-page-edit-buttons {
	float: right;
}

.view-configurator-page .quick-edit-buttons .fa-pencil-square-o:before {
	position: relative;
	top: 1px;
}

.view-configurator-page .page-edit-buttons .fa {
	margin-right: 5px;
	width: 15px;
}

.view-configurator-page .quick-edit-buttons-component,
.view-configurator-page .quick-edit-buttons-option {
	float: right;
	margin-left: 5px;
}

.view-configurator-page .quick-edit-buttons-question,
.view-configurator-page .quick-edit-buttons-element {
	float: right;
	margin-left: 5px;
}

.view-configurator-page .question.type-images .quick-edit-buttons-component,
.view-configurator-page .question.type-images .quick-edit-buttons-option {
	position: absolute;
	top: 5px;
	left: 20px;
}
